<div class="card totales">

    <div class="card-body">

        <div class="d-flex flex-row">

          <div class="p-l-20">

              <h3 class="font-medium">

                  Estado Financiero

              </h3>

              <h6>{{ fecha | date }}</h6>

          </div>

        </div>

        <div class="row">

            <div class="col-lg-12 col-md-12">

                <div class="m-t-30 m-b-40 p-t-20 p-b-20 text-center">

                    <div class="">

                        <div class="p-2 display-1 animated fadeIn text-center text-success" *ngIf="heart === 3">
          
                            <div class="animated pulse2">
                        
                                <i class="mdi mdi-heart-pulse"></i>
                        
                            </div>
                        
                        </div>
                        
                        <div class="p-2 display-1 animated fadeIn text-center text-warning" *ngIf="heart === 2">
                        
                            <div class="animated pulse2">
                        
                                <i class="mdi mdi-heart-pulse"></i>
                        
                            </div>
                        
                        </div>
                        
                        <div class="p-2 display-1 animated fadeIn text-center text-danger" *ngIf="heart === 1">
                        
                            <div class="animated pulse2">
                        
                            <i class="mdi mdi-heart-pulse"></i>
                        
                            </div>
                        
                        </div>
                        
                        <div class="p-2 display-1 animated fadeIn right-side-toggle" style="padding-left: 56px!important;" *ngIf="heart === 0">
                        
                            <i class="ti-reload"></i>
          
                            <br>
                
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <h3>Cartera 2019</h3>

            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <div class="row">

                    <!-- Column -->
                    <div class="col-xl-4 col-lg-6 col-md-12" style="padding-bottom: 15px;">

                        <h6 class="text-muted">Cartera<br>Total</h6>
                        
                        <h4 class="font-light">{{ tot2019 | currency }}</h4>

                    </div>

                    <!-- Column -->
                    <div class="col-xl-4 col-lg-6 col-md-12" style="padding-bottom: 15px;">

                        <h6 class="text-muted">Cartera<br>Sana</h6>
                        
                        <h4 class="font-light text-success">{{ sal2019 | currency }}</h4>

                    </div>

                    <!-- Column -->
                    <div class="col-xl-4 col-lg-12 col-md-12">

                        <h6 class="text-muted">Cartera<br>Vencida</h6>
                        
                        <h4 class="font-light text-danger">{{ ven2019 | currency }}</h4>

                    </div>

                </div>

            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <h3>Cartera 2020</h3>
                
            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <div class="row">

                    <!-- Column -->
                    <div class="col-xl-4 col-lg-6 col-md-12" style="padding-bottom: 15px;">

                        <h6 class="text-muted">Cartera<br>Total</h6>
                        
                        <h4 class="font-light">{{ tot2020 | currency }}</h4>

                    </div>

                    <!-- Column -->
                    <div class="col-xl-4 col-lg-6 col-md-12" style="padding-bottom: 15px;">

                        <h6 class="text-muted">Cartera<br>Sana</h6>
                        
                        <h4 class="font-light text-success">{{ sal2020 | currency }}</h4>

                    </div>

                    <!-- Column -->
                    <div class="col-xl-4 col-lg-12 col-md-12">

                        <h6 class="text-muted">Cartera<br>Vencida</h6>
                        
                        <h4 class="font-light text-danger">{{ ven2020 | currency }}</h4>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
