<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12" style="position: relative;">

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">

            <agm-marker *ngFor="let g of coordenadas" [latitude]="g.origin.lat" [longitude]="g.origin.lng" (markerClick)="clicMarker(g)" [iconUrl]="'assets/images/asesores/store.png'">

                <agm-info-window>

                    <img [src]="imagen | imagen" class="img-flui" width="50%">

                    <h6 class="text-uppercase"># {{ numero }} - {{ nombre }}</h6>

                    <h6 class="text-uppercase">{{ domicilio }}</h6>

                    <h6 class="text-uppercase">{{ poblacion }}</h6>

                    <h6 class="text-uppercase">Realizo: {{ realizo }}</h6>

                    <h6 class="text-uppercase">{{ vendedor }}</h6>

                </agm-info-window>

            </agm-marker>

            <agm-marker *ngFor="let ubi of ubicacionesGPS" [latitude]="ubi.lat" [longitude]="ubi.lng" [label]="ubi.label" [iconUrl]="'assets/images/asesores/bus2.png'"></agm-marker>

            <agm-direction [origin]="origin" [destination]="destiny" [visible]="verDestino" [provideRouteAlternatives]="alternativa" [panel]="setPanel()"></agm-direction>

        </agm-map>

        <!-- Tienes que estar adentro de AGM-MAP -->
        <!-- <agm-direction [origin]="co.origin" [destination]="co.destination" [visible]="verDestino"></agm-direction> -->
        <!-- <agm-direction *ngFor="let co of coordenadas" [origin]="co.origin" [destination]="co.destination"></agm-direction> -->

    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 ml-4 mt-1" style="position: absolute;background: white; max-height: 50%; overflow: auto;">

        <form class="pt-2">

            <div class="form-group" style="margin-bottom: 10px!important">

                <select name="cliente" [(ngModel)]="selec" id="cliente" class="form-control" (change)="obtener(coordenadasCopy)">
                  
                    <option value="0">VER TODO</option>

                    <option *ngFor="let g of coordenadasCopy" [ngValue]="g">{{g.datos.nombre}} - {{g.datos.cliente}}</option>

                </select>

            </div>

        </form>

        <div id="myPanel" style="height: 50%!important;"></div>

    </div>

    <!-- <div class="col-lg-12 col-md-12 col-sm-12 pt-3">

        <form>

            <div class="form-group">

                <select name="cliente" [(ngModel)]="selec" id="cliente" class="form-control" (change)="obtener(coordenadasCopy)">
          
                  <option value="0">VER TODO</option>

                  <option *ngFor="let g of coordenadasCopy" [ngValue]="g">{{g.datos.nombre}} - {{g.datos.cliente}}</option>

              </select>

            </div>

        </form>

    </div> -->

</div>