<div class="ver-mapa">

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">

        <agm-marker *ngFor="let g of coordenadas" [latitude]="g.origin.lat" [longitude]="g.origin.lng" (markerClick)="clicMarker(g)">

            <agm-info-window>

                <img [src]="imagen | imagen" class="img-flui" width="50%">

                <h5>Factura: {{ factura }}</h5>

                <h6 class="text-uppercase"># {{ numero }} - {{ nombre }}</h6>

                <h6 class="text-uppercase">{{ domicilio }}</h6>

                <h6 class="text-uppercase">{{ poblacion }}</h6>

                <h6 class="text-uppercase">Realizo: {{ realizo }}</h6>

                <h6 class="text-uppercase">{{ vendedor }}</h6>

            </agm-info-window>

        </agm-marker>

        <!-- <agm-data-layer [geoJson]="geoJsonObject" [style]="styleFunc"></agm-data-layer> -->

        <!-- <agm-polygon [paths]="origin"></agm-polygon> -->

        <agm-direction [origin]="origin" [destination]="destination" [visible]="verDestino"></agm-direction>

    </agm-map>

</div>

<div class="row pt-3">

    <div class="col-lg-12 col-md-12 col-sm-12">

        <form>

            <div class="form-group">

                <select name="cliente" [(ngModel)]="selec" id="cliente" class="form-control" (change)="obtener()">
          
                  <option value="0">VER TODO</option>

                  <option *ngFor="let g of coordenadasCopy" [ngValue]="g">{{g.datos.nombre}} - {{g.datos.cliente}}</option>

              </select>

            </div>

        </form>

    </div>

</div>