<div class="row">

  <div class="col-md-2 col-lg-2 col-sm-12">

    <div class="form-group">

      <label for="tipo">Tipo de Consulta</label>

      <select [(ngModel)]="tipo" name="tipo" id="tipo" class="form-control" (change)="selecionar()">

        <option value="0">Seleccione un tipo de consulta</option>

        <option value="1">Por Día</option>

        <option value="2">Sin Movimiento</option>

      </select>

    </div>

    <div class="form-group" *ngIf="porDia">

      <label for="asesor">Asesor</label>

      <select [(ngModel)]="asesor" name="asesor" id="asesor" class="form-control">

        <option value="0">Seleccione un asesor</option>

        <option [ngValue]="ase" *ngFor="let ase of asesores">{{ase.NOMBRE}}</option>

      </select>

    </div>

    <div class="form-group" *ngIf="sinMovimiento">

      <label for="asesor">Asesor</label>

      <select [(ngModel)]="asesor" name="asesor" id="asesor" class="form-control">

        <option value="0">Seleccione un asesor</option>

        <option [ngValue]="ase" *ngFor="let ase of asesores">{{ase.NOMBRE}}</option>

      </select>

    </div>

    <div class="form-group" *ngIf="porDia">

      <label for="fechaIn">Fecha Inicial</label>

      <input #fechaIn type="date" name="fechaIn" id="fechaIn" class="form-control">

    </div>

    <div class="form-group" *ngIf="porDia">

      <label for="fechaOut">Fecha Final</label>

      <input #fechaOut type="date" name="fechaOut" id="fechaOut" class="form-control">

    </div>

    <div class="form-group" *ngIf="sinMovimiento">

      <label for="fechaIn">Fecha Inicial</label>

      <input #fechaIn type="date" name="fechaIn" id="fechaIn" class="form-control">

    </div>

    <div class="form-group" *ngIf="sinMovimiento">

      <label for="fechaOut">Fecha Final</label>

      <input #fechaOut type="date" name="fechaOut" id="fechaOut" class="form-control">

    </div>

    <div class="form-group" *ngIf="porDia">

      <label for="fechaOut">Seleccione Día de Semana</label>

      <div class="form-check form-check">

        <input #lunes class="form-check-input" type="checkbox" id="inlineCheckbox1" value="2">

        <label class="form-check-label" for="inlineCheckbox1">Lunes</label>

      </div>

      <div class="form-check form-check">

        <input #martes class="form-check-input" type="checkbox" id="inlineCheckbox2" value="3">

        <label class="form-check-label" for="inlineCheckbox2">Martes</label>

      </div>

      <div class="form-check form-check">

        <input #miercoles class="form-check-input" type="checkbox" id="inlineCheckbox3" value="4">

        <label class="form-check-label" for="inlineCheckbox3">Miércoles</label>

      </div>

      <div class="form-check form-check">

        <input #jueves class="form-check-input" type="checkbox" id="inlineCheckbox4" value="5">

        <label class="form-check-label" for="inlineCheckbox4">Jueves</label>

      </div>

      <div class="form-check form-check">

        <input #viernes class="form-check-input" type="checkbox" id="inlineCheckbox5" value="6">

        <label class="form-check-label" for="inlineCheckbox5">Viernes</label>

      </div>

    </div>

    <button type="button" class="btn btn-info" (click)="solicitar()" *ngIf="porDia">SOLICITAR</button>

    <button type="button" class="btn btn-danger" (click)="solicitarSinMov()" *ngIf="sinMovimiento">SOLICITAR</button>

    <!-- <button type="button" class="btn btn-googleplus" (click)="descargar(comparar, 'POR DIA', vendedor)" *ngIf="comparar.length > 0">

      <i class="mdi mdi-file-pdf"></i>

    </button> -->

    <button type="button" class="btn btn-googleplus" (click)="descargar(sinmovimientos, 'SIN MOVIMIENTOS', vendedor)" *ngIf="sinmovimientos.length > 0">

      <i class="mdi mdi-file-pdf"></i>

    </button>

  </div>

  <div class="col-md-10 col-lg-10 col-sm-12" *ngIf="porDia && comparar.length === 0">

    <h3>Sin datos seleccionados</h3>
    
  </div>

  <div class="col-md-10 col-lg-10 col-sm-12" *ngIf="sinMovimiento && sinmovimientos.length === 0">

    <h3>Sin datos seleccionados</h3>
    
  </div>

  <div class="col-md-10 col-lg-10 col-sm-12">

    <div class="table-responsive" *ngIf="porDia && comparar.length > 0">

      <table class="table table-sm stylish-table table-hover">

        <thead>

          <tr>

            <th>Cliente</th>

            <th></th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let comp of comparar">

            <td class="font-weight-bold" width="60%">

              <div class="row my-4">

                <div class="col-12">

                  NÚMERO DE CLIENTE {{comp.cliente}}

                </div>

                <div class="col-12">

                  CLIENTE {{comp.nombre}}

                </div>

                <div class="col-12 font-weight-bold">

                  ASESOR {{comp.asesor}}

                </div>

                <div class="col-12 font-weight-bold">

                  Zona {{comp.zona}}

                </div>

                <div class="col-12 font-weight-bold mb-1">

                  Semanas Sin Pedidos <span class="badge" [ngClass]="{'badge-danger': comp.pedidos > 0, 'badge-success': comp.pedidos === 0}">{{comp.pedidos}}</span>

                </div>

                <div class="col-12">

                  <table class="table table-sm">

                    <thead>

                      <tr>

                        <th>Concepto</th>

                        <th>Fecha</th>

                        <th>Importe</th>

                        <td></td>

                      </tr>

                    </thead>

                    <tbody>

                      <tr>

                        <td>Último Compra</td>

                        <td>{{comp.fecultcom | date:'dd-MM-yy'}}</td>

                        <td>{{comp.impoultcom | currency}}</td>

                        <td>{{comp.diaultcom}}</td>

                      </tr>

                      <tr>

                        <td>Último Abono</td>

                        <td>{{comp.fecultpag | date:'dd-MM-yy'}}</td>

                        <td>{{comp.ultpag | currency}}</td>

                        <td>{{comp.diaultpag}}</td>

                      </tr>

                      <tr>

                        <td>Saldo</td>

                        <td></td>

                        <td [ngClass]="{'text-success': comp.saldo < comp.limite, 'text-warning': comp.saldo === comp.limite, 'text-danger': comp.saldo > comp.limite}">{{comp.saldo | currency}}</td>

                        <td></td>

                      </tr>

                    </tbody>

                  </table>

                </div>

                <div class="col-12">

                  Límite de Crédito <span class="text-danger">{{comp.limite | currency}}</span>

                </div>

              </div>
            
            </td>

            <td width="40%">

              <table class="table table-sm">

                <thead>

                  <tr>

                    <th class="text-center">DIA</th>

                    <th class="text-center">SEMANAS</th>

                  </tr>
                  
                </thead>

                <tbody>

                  <tr *ngFor="let primera of comp.day">

                    <td class="text-center">{{primera.nombre}}</td>

                    <td class="text-center">

                      <table class="table table-sm stylish-table table-hover">

                        <thead>
        
                          <!-- <tr>
        
                            <th class="text-center" colspan="2">{{primera.nombre}}</th>
        
                          </tr> -->

                          <tr>

                            <th class="text-center">#</th>
        
                            <th class="text-center">FECHA</th>
        
                            <th class="text-center">PEDIDOS</th>
        
                          </tr>
                          
                        </thead>
        
                        <tbody>
        
                          <tr *ngFor="let segunda of primera.dato, let i = index">

                            <td class="text-center">{{(i + 1)}}</td>
        
                            <td class="text-center">{{segunda.fecha | date:'dd-MM-yy'}}</td>
        
                            <td class="text-center" [ngClass]="{'text-danger font-weight-bold': segunda.datos.pedidos === 0}">{{segunda.datos.pedidos}}</td>
        
                          </tr>
        
                        </tbody>
        
                      </table>

                    </td>

                  </tr>

                </tbody>

              </table>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

    <div class="table-responsive" *ngIf="sinMovimiento && sinmovimientos.length > 0">

      <h3>{{vendedor}}</h3>

      <table class="table table-sm stylish-table table-hover">

        <thead>

          <tr>

            <th>DIAS</th>

            <th>CLIENTES</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let dias of sinmovimientos">

            <td>{{dias.dia}}</td>

            <td>

              <table class="table table-sm">

                <thead>

                  <tr>

                    <th>NUMERO</th>

                    <th>NOMBRE</th>

                    <th>CIUDAD</th>

                    <th>ULTIMA COMPRA</th>

                    <th>ULTIMO ABONO</th>

                    <th>SALDO</th>

                    <th>LINEA</th>

                  </tr>

                </thead>

                <tbody>

                  <tr *ngFor="let cli of dias.clientes">

                    <td>{{cli.numero}}</td>

                    <td>{{cli.nombre}}</td>

                    <td>{{cli.ciudad}}</td>

                    <td>{{cli.ultcom | date:'dd-MM-yy'}}</td>

                    <td>{{cli.ultpag | date:'dd-MM-yy'}}</td>

                    <td>{{cli.saldo | currency}}</td>

                    <td>{{cli.limite | currency}}</td>

                  </tr>

                </tbody>

              </table>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div class="col-12" *ngIf="verPDF !== ''">

    <embed [src]="verPDF" type="application/pdf" width="100%" height="600">

  </div>

</div>
