<div class="row">

    <div class="col text-left">

        <h3 class="font-weight-bold text-danger">Saldo Virtual {{ total | currency }}</h3>

    </div>

    <div class="col text-right">

        <button type="button" class="btn btn-success" (click)="regresar()">

            <i class="mdi mdi-backburger"></i>

            Regresar
            
        </button>

    </div>

</div>

<div class="table-responsive">

    <table class="table table-hover info-bitacora">

        <thead>

            <tr>

                <th class="text-center">#</th>

                <th class="text-center">Número</th>

                <th class="text-center">Nombre</th>

                <th class="text-center">Saldo Total</th>

                <th class="text-center">Asesor</th>

                <th class="text-center">Saldo</th>

                <th class="text-center">Últimos Pagos</th>

                <th class="text-center">Ver</th>

                <th class="text-center">Comentarios</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let mor of morosidad; let i = index">

                <td class="text-center">{{ (i + 1) }}</td>

                <td class="text-center">{{ mor.numero }}</td>

                <td class="text-left">{{ mor.nombre }}</td>

                <td class="text-right">

                    <span class="label label-light-danger">{{ mor.td | currency }}</span>

                </td>

                <td class="text-left">{{ mor.asesor }}</td>

                <td class="text-right">

                    <span class="label label-danger">{{ mor.saldo | currency }}</span>

                </td>

                <td class="text-center">

                    <a href="#modalPagos" class="btn" [ngClass]="{'btn-outline-success': mor.pagosMes > 0, 'btn-outline-danger':  mor.pagosMes === 0}" data-dismiss="modal" data-toggle="modal" (click)="openModalPagos(mor)" *ngIf="rol === 'DIR_ROLE' || mor.numero !== 1 && mor.numero !== 80 && mor.numero !== 1046 && mor.numero !== 1739 && mor.numero !== 1789 && mor.numero !== 2980 && mor.numero !== 3611 && mor.numero !== 4043 && mor.numero !== 4287 && mor.numero !== 4365 && mor.numero !== 4429 && mor.numero !== 4585 && mor.numero !== 4636">

                        <i class="mdi" [ngClass]="{'mdi-currency-usd': mor.pagosMes > 0, 'mdi-bell-ring-outline': mor.pagosMes === 0}"></i>

                    </a>

                </td>

                <td class="text-center">

                    <button type="button" href="#modalFolio" class="btn btn-outline-info" (click)="irInfo(mor)" *ngIf="rol === 'DIR_ROLE' || mor.numero !== 1 && mor.numero !== 80 && mor.numero !== 1046 && mor.numero !== 1739 && mor.numero !== 1789 && mor.numero !== 2980 && mor.numero !== 3611 && mor.numero !== 4043 && mor.numero !== 4287 && mor.numero !== 4365 && mor.numero !== 4429 && mor.numero !== 4585 && mor.numero !== 4636">

                        <i class="mdi mdi-barcode-scan"></i>

                    </button>

                </td>

                <td class="text-center">

                    <a href="#modalFolio" class="btn btn-outline-primary btn-sm" data-dismiss="modal" data-toggle="modal" (click)="openModal(mor)" *ngIf="rol === 'DIR_ROLE' || mor.numero !== 1 && mor.numero !== 80 && mor.numero !== 1046 && mor.numero !== 1739 && mor.numero !== 1789 && mor.numero !== 2980 && mor.numero !== 3611 && mor.numero !== 4043 && mor.numero !== 4287 && mor.numero !== 4365 && mor.numero !== 4429 && mor.numero !== 4585 && mor.numero !== 4636">

                        <i class="mdi mdi-comment-text-outline"></i> <span class="badge badge-success" *ngIf="mor.mensajes !== 0">{{ mor.mensajes }}</span>

                    </a>

                </td>

            </tr>

        </tbody>

    </table>

</div>

<div id="modalPagos" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalPagos" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                Modal de Pagos

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        
                    <span aria-hidden="true">&times;</span>
        
                </button>

            </div>

            <div class="modal-body">

                <div class="table-responsive">

                    <table class="table table-hover">

                        <thead>

                            <tr>

                                <th class="text-center">Numero</th>

                                <th class="text-center">Nombre</th>

                                <th class="text-center">Folio</th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Días Pasados</th>

                                <th class="text-center">Forma de Pago</th>

                                <th class="text-center">Referencia</th>

                                <th class="text-center">Recibo</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let pag of pagos; let i = index">

                                <td class="text-center">{{ pag.numero }}</td>

                                <td class="text-left">{{ pag.nombre }}</td>

                                <td class="text-center">{{ pag.folio }}</td>

                                <td class="text-center">{{ pag.fechapago }}</td>

                                <td class="text-right">{{ pag.pagado | currency }}</td>

                                <td class="text-center">{{ pag.dias | number }}</td>

                                <td class="text-center" *ngIf="pag.formapago === 'S'">

                                    - -

                                </td>

                                <td class="text-center" *ngIf="pag.formapago === 'C'">

                                    <span class="label label-info">{{ pag.forma }}</span>

                                </td>

                                <td class="text-center" *ngIf="pag.formapago === 'R'">

                                    <span class="label label-primary">{{ pag.forma }}</span>

                                </td>

                                <td class="text-center" *ngIf="pag.formapago === 'T'">

                                    <span class="label label-primary" style="background: black!important;">{{ pag.forma }}</span>

                                </td>

                                <td class="text-center" *ngIf="pag.formapago === 'E'">

                                    <span class="label label-danger">{{ pag.forma }}</span>

                                </td>

                                <td class="text-left">{{ pag.pagref }}</td>

                                <td class="text-center" *ngIf="pag.recibo !== 0">

                                    <span class="label label-light-inverse">{{ pag.recibo }}</span>

                                </td>

                                <td class="text-center" *ngIf="pag.recibo === 0">

                                    <span class="label label-danger" *ngIf="pag.categoria !== ''">{{ pag.categoria }}</span>

                                    <span class="label label-danger" *ngIf="pag.categoria === ''">- -</span>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

<div id="modalFolio" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalFolio" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <h5 class="p-b-10 p-t-10">Historial del Cliente <b># {{ numero }} {{ nombre }}</b></h5>

                <h5 class="p-b-10 p-t-10 text-danger font-weight-bold">Saldo <b>{{ saldo | currency }}</b></h5>

                <!--<button class="btn btn-success" type="button" (click)="descargar(actual)"><i class="mdi mdi-file-excel"></i>Descargar</button>-->

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        
                    <span aria-hidden="true">&times;</span>
        
                </button>

            </div>

            <div class="modal-body">

                <div class="card" style="width: 100%;">

                    <div class="card-body">

                        <h4 class="card-title" *ngIf="charlaBol">Comentarios Recientes</h4>

                        <h4 class="card-title" *ngIf="!charlaBol">No hay Comentarios</h4>

                        <div class="chat-box" *ngIf="charlaBol">

                            <!--chat Row -->
                            <ul class="chat-list" style="overflow-y: scroll; height: 400px;">

                                <!--chat Row -->
                                <li *ngFor="let c of charla; let i = index" [ngClass]="{'reverse': id === c.usuario._id, '': id !== c.usuario._id}">

                                    <div class="chat-img" *ngIf="id !== c.usuario._id"><img [src]="c.usuario.img | imagen"></div>

                                    <div class="chat-content">

                                        <h5>{{ c.usuario.nombre }}</h5>

                                        <div class="box" [ngClass]="{'bg-light-inverse': id === c.usuario._id, 'bg-light-info': id !== c.usuario._id}">{{ c.comentario }}</div>

                                    </div>

                                    <div class="chat-time">{{ c.hora }} <br> {{ c.fecha | date }}</div>

                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="card-body b-t">

                        <form #f="ngForm">

                            <div class="row">

                                <div class="col-8">

                                    <textarea [(ngModel)]='comentario' name="comentario" [value]="comentario" placeholder="Coloca un mensaje a este folio" class="form-control b-0"></textarea>

                                </div>

                                <div class="col-4 text-right">

                                    <button type="button" class="btn btn-info btn-circle btn-lg" (click)="enviarComentario(f)"><i class="fa fa-paper-plane-o"></i> </button>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>