<p >
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Asignacion</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Altas</button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
        <i class="mdi mdi-delete-circle" style="color: white"></i>
    </button>
</p>


<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Usuario</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Asignó</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Asigno">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Guardar</button>
        </form>
    </div>
 </div>

 <div class="collapse" id="collapseExample2">
    <div class="card card-body">
        <p>input 2</p>
    </div>
 </div>

 <div class="collapse" id="collapseExample3">
    <div class="card card-body">
        <p>input 3</p>
    </div>
</div>
    

<div class="row" *ngIf="info.length > 0">
    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let datos of info">
        <div class="card">
            <div class="card-body">
                <p class="card-text text-center">{{datos.Nombre}}</p>
            </div>
         </div>
    </div>
</div>