<div class="row">

    <div class="col">

        <h3>

            # <b>{{ numero }} {{ nombre }}</b>

        </h3>

        <p class="text-danger font-weight-bold">Saldo Vencido Total {{ total | currency }}</p>

    </div>

    <div class="col text-right">

        <button type="button" class="btn btn-success" (click)="regresar()">

            <i class="mdi mdi-backburger"></i>

            Regresar
            
        </button>

        <a href="#modalEdoCta" class="btn btn-info" data-dismiss="modal" data-toggle="modal" (click)="modalEdoCta(numero)">

            <i class="mdi mdi-altimeter"></i> Eestado de Cuenta

        </a>

    </div>

</div>

<div class="row" *ngIf="!mor128Bol">

    <div class="col-lg-12">

        <div class="card card-success">

            <div class="card-body">

                <p class="font-weight-bold">Morosidad de 1 a 28 Días</p>

                <p>No se encontró facturas vencidas en esta etapa.</p>

            </div>

        </div>

    </div>

</div>

<div class="table-responsive" *ngIf="mor128Bol">

    <h3>Morosidad de 1 a 28 Días</h3>

    <table class="table table-hover mostrar-folio">

        <thead>

            <tr>

                <th class="text-center">Folio</th>

                <th class="text-center">Vence</th>

                <th class="text-center">Días Vencidos</th>

                <th class="text-center">Saldo</th>

                <th class="text-center">Movimientos</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let mor of mor1a28; let i = index">

                <td class="text-center" style="font-weight: 700;">{{ mor.folio }}</td>

                <td class="text-center">{{ mor.vence | date: 'dd-MM-yyyy' }}</td>

                <td class="text-center" style="color: #f62d51;">{{ mor.dias_vencidos | number }}</td>

                <td class="text-right" style="color: #f62d51;">{{ mor.saldo | currency }}</td>

                <td class="text-center">

                    <a href="#modalMov" class="btn btn-outline-info btn-sm" (click)="modalMovimietos(mor.folio, mor.saldo)" data-dismiss="modal" data-toggle="modal">

                        <i class="mdi mdi-chart-scatterplot-hexbin"></i>

                    </a>

                </td>

            </tr>

        </tbody>

    </table>

</div>

<div class="row" *ngIf="!mor2945Bol">

    <div class="col-lg-12">

        <div class="card card-success">

            <div class="card-body">

                <p class="font-weight-bold">Morosidad de 29 a 45 Días</p>

                <p>No se encontró facturas vencidas en esta etapa.</p>

            </div>

        </div>

    </div>

</div>

<div class="table-responsive" *ngIf="mor2945Bol">

    <h3>Morosidad de 29 a 45 Días</h3>

    <table class="table table-hover mostrar-folio">

        <thead>

            <tr>

                <th class="text-center">Folio</th>

                <th class="text-center">Vence</th>

                <th class="text-center">Días Vencidos</th>

                <th class="text-center">Saldo</th>

                <th class="text-center">Movimientos</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let mor of mor29a45; let i = index">

                <td class="text-center" style="font-weight: 700;">{{ mor.folio }}</td>

                <td class="text-center">{{ mor.vence | date: 'dd-MM-yyyy' }}</td>

                <td class="text-center" style="color: #f62d51;">{{ mor.dias_vencidos | number }}</td>

                <td class="text-right" style="color: #f62d51;">{{ mor.saldo | currency }}</td>

                <td class="text-center">

                    <a href="#modalMov" class="btn btn-outline-info btn-sm" (click)="modalMovimietos(mor.folio, mor.saldo)" data-dismiss="modal" data-toggle="modal">

                        <i class="mdi mdi-chart-scatterplot-hexbin"></i>

                    </a>

                </td>

            </tr>

        </tbody>

    </table>

</div>

<div class="row" *ngIf="!mor46a60Bol">

    <div class="col-lg-12">

        <div class="card card-success">

            <div class="card-body">

                <p class="font-weight-bold">Morosidad de 45 a 60 Días</p>

                <p>No se encontró facturas vencidas en esta etapa.</p>

            </div>

        </div>

    </div>

</div>

<div class="table-responsive" *ngIf="mor46a60Bol">

    <h3>Morosidad más de 45 Días</h3>

    <table class="table table-hover mostrar-folio">

        <thead>

            <tr>

                <th class="text-center">Folio</th>

                <th class="text-center">Vence</th>

                <th class="text-center">Días Vencidos</th>

                <th class="text-center">Saldo</th>

                <th class="text-center">Movimientos</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let mor of mor46a60; let i = index">

                <td class="text-center" style="font-weight: 700;">{{ mor.folio }}</td>

                <td class="text-center">{{ mor.vence | date: 'dd-MM-yyyy' }}</td>

                <td class="text-center" style="color: #f62d51;">{{ mor.dias_vencidos | number }}</td>

                <td class="text-right" style="color: #f62d51;">{{ mor.saldo | currency }}</td>

                <td class="text-center">

                    <a href="#modalMov" class="btn btn-outline-info btn-sm" (click)="modalMovimietos(mor.folio, mor.saldo)" data-dismiss="modal" data-toggle="modal">

                        <i class="mdi mdi-chart-scatterplot-hexbin"></i>

                    </a>

                </td>

            </tr>

        </tbody>

    </table>

</div>

<div class="row" *ngIf="!mor60Bol">

    <div class="col-lg-12">

        <div class="card card-success">

            <div class="card-body">

                <p class="font-weight-bold">Morosidad más de 60 Días</p>

                <p>No se encontró facturas vencidas en esta etapa.</p>

            </div>

        </div>

    </div>

</div>

<div class="table-responsive" *ngIf="mor60Bol">

    <h3>Morosidad más de 60 Días</h3>

    <table class="table table-hover mostrar-folio">

        <thead>

            <tr>

                <th class="text-center">Folio</th>

                <th class="text-center">Vence</th>

                <th class="text-center">Días Vencidos</th>

                <th class="text-center">Saldo</th>

                <th class="text-center">Movimientos</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let mor of mor60; let i = index">

                <td class="text-center" style="font-weight: 700;">{{ mor.folio }}</td>

                <td class="text-center">{{ mor.vence | date: 'dd-MM-yyyy' }}</td>

                <td class="text-center" style="color: #f62d51;">{{ mor.dias_vencidos | number }}</td>

                <td class="text-right" style="color: #f62d51;">{{ mor.saldo | currency }}</td>

                <td class="text-center">

                    <a href="#modalMov" class="btn btn-outline-info btn-sm" (click)="modalMovimietos(mor.folio, mor.saldo)" data-dismiss="modal" data-toggle="modal">

                        <i class="mdi mdi-chart-scatterplot-hexbin"></i>

                    </a>


                </td>

            </tr>

        </tbody>

    </table>

</div>

<div id="modalEdoCta" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalEdoCta" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <h5 class="p-b-10 p-t-10">Historial del Cliente <b># {{ numEnv }} {{ nombre }}</b></h5>

                <h5 class="p-b-10 p-t-10 text-danger font-weight-bold">Saldo <b>{{ total | currency }}</b></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        
                    <span aria-hidden="true">&times;</span>
        
                </button>

            </div>

            <div class="modal-body">

                <app-edo-cta-cli [numero]="numEnv" style="width: 100%"></app-edo-cta-cli>

            </div>

        </div>

    </div>

</div>

<div id="modalMov" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalMov" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <h5 class="p-b-10 p-t-10">Movimientos del Folio <b>{{ folio }}</b></h5>

                <h5 class="p-b-10 p-t-10 text-danger font-weight-bold">Saldo <b>{{ saldo | currency }}</b></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        
                    <span aria-hidden="true">&times;</span>
        
                </button>

            </div>

            <div class="modal-body">

                <app-mov-fol [folio]="folio" style="width: 100%"></app-mov-fol>

            </div>

        </div>

    </div>

</div>