<div class="row">

    <div class="col-lg-12 col-md-12">

        <div class="alert alert-warning" *ngIf="esperar">

            Obteniendo registros

        </div>

        <span *ngIf="ventas">No hay detalles.</span>

        <div class="container-fluid" *ngIf="respuestaGeneral">

            <div class="table-responsive">

                <table class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">

                    <thead>

                        <tr role="row">

                            <th class="text-center">Personal</th>

                            <th class="text-center">Clientes</th>

                            <th class="text-center">Cantidad</th>

                            <th class="text-center">Total</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr role="row" class="odd" *ngFor="let lunes of diasLunes">

                            <td class="sorting_1">

                                <a id="{{lunes.id}}" href="#modalDiaLunes" (click)="obtenerPedidos(lunes)" data-dismiss="modal" data-toggle="modal">
                  
                                    {{ lunes.asesor }}

                                </a>

                            </td>

                            <td class="text-center">{{ lunes.clientes }}</td>

                            <td class="text-center">{{ lunes.cantidad }}</td>

                            <td class="text-center">{{ lunes.saldo | currency }}</td>

                        </tr>

                        <tr class="bg-info text-white font-weight-bold">

                            <th>TOTAL</th>

                            <th class="text-center">{{ clientes | number }}</th>

                            <th class="text-center">{{ cantidad | number }}</th>

                            <th class="text-center">{{ saldo | currency }}</th>

                        </tr>

                        <tr *ngFor="let inc of icobrables">

                            <td class="sorting_1">

                                <a id="{{inc.id}}" href="#modalDiaLunes" (click)="obtenerPedidos(inc)" data-dismiss="modal" data-toggle="modal">
                    
                                    {{ inc.asesor }}

                                </a>

                            </td>

                            <td class="text-center">{{ inc.clientes }}</td>

                            <td class="text-center">{{ inc.cantidad }}</td>

                            <td class="text-center">{{ inc.saldo | currency }}</td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

<div id="modalDiaLunes" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalDiaLunes" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales" style="max-width: 95%!important;">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <h3 class="display-5 p-b-10 p-t-10">Reporte de {{nombre}}</h3>

                <!-- <button class="btn btn-success" type="button" (click)="descargar(actual)"><i class="mdi mdi-file-excel"></i>XLS</button> -->
                
                <button class="btn btn-danger" type="button" (click)="descargarPDF(actual, nombre)"><i class="mdi mdi-file-excel"></i>PDF</button>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>

        </button>

            </div>

            <div class="modal-body">

                <div class="alert alert-warning" *ngIf="actual.length === 0">

                    Obteniendo registros
        
                </div>

                <div class="table-responsive" *ngIf="actual.length > 0">

                    <table class="display table-sm font-14 nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">

                        <thead>

                            <tr role="row">

                                <th class="text-center">#</th>

                                <th class="text-center">Número</th>

                                <th class="text-center">Cliente</th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Riesgo</th>

                                <th class="text-center">Tipo</th>

                                <th class="text-center">Folio</th>

                                <th class="text-center">Total</th>

                                <th class="text-center">Saldo</th>

                                <th class="text-center">Fecha UltAbo</th>

                                <th class="text-center">Abono</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr role="row" class="odd" *ngFor="let act of actual, let i = index">

                                <td class="text-center">{{(i + 1)}}</td>

                                <td class="text-center" *ngIf="act.opcion === 2">

                                    <span class="text-danger"><i class="fa fa-exclamation-triangle"></i></span> {{ act.numero }}

                                </td>

                                <td class="text-center" *ngIf="act.opcion === 1">

                                    <span class="text-warning"><i class="fa fa-exclamation-circle"></i></span> {{ act.numero }}

                                </td>

                                <td class="text-center" *ngIf="act.opcion === 0">

                                    {{ act.numero }}

                                </td>

                                <td class="text-left">{{ act.cliente }}</td>

                                <td class="text-center">{{ act.fecha | date:'dd-MM-yyyy' }}</td>

                                <td class="text-center">{{ act.vencido }}</td>

                                <td class="text-center">{{ act.tipo }}</td>

                                <td class="text-center">{{ act.folio }}</td>

                                <td class="text-center">{{ act.total | currency }}</td>

                                <td class="text-center">{{ act.saldo | currency }}</td>

                                <td class="text-center">{{ act.ultimoabono | date:'dd-MM-yyyy' }}</td>

                                <td class="text-center">{{ act.abono | currency }}</td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>