<div class="card">

  <div class="card-body">

    <h1 class="card-title m-b-5"><span class="lstick"></span>Zona 1</h1>

    <div class="table-responsive">

      <table class="table table-sm stylish-table table-hover">

        <tbody>

          <tr *ngFor="let ase of asesores1">

            <td>{{ase.ruta}} {{ase.nombre}}</td>

            <td>

              <table class="table table-sm">

                <thead>

                  <tr>

                    <th>Día</th>

                    <th>Fecha</th>

                    <th>Clientes</th>
                    
                    <th>Venta</th>
                    
                    <th>Cobranza</th>
                    
                    <th>Meta</th>
                    
                    <th>Calificación</th>

                    <th>Sin Visita</th>

                    <th>Out Time</th>

                    <th>Penalización</th>

                    <th>Final</th>

                  </tr>

                </thead>

                <tbody>

                  <tr *ngFor="let sem of ase.semana">

                    <td>{{sem.dia}}</td>

                    <td>{{sem.fecha}}</td>

                    <td>{{sem.datos.clientes}}</td>
                    
                    <td>{{sem.datos.ventas | currency}}</td>
                    
                    <td>{{sem.datos.cobranza | currency}}</td>
                    
                    <td>{{sem.datos.cobranzaObj | currency}}</td>
                    
                    <td>{{sem.datos.calificacion | number: '0.2'}}</td>
                    
                    <td>{{sem.datos.sinvisita | number: '0.2'}}</td>

                    <td>{{sem.datos.outtime | number: '0.2'}}</td>

                    <td class="font-weight-bold" [ngClass]="{'text-danger': sem.datos.penalizacion > 0, 'text-success': sem.datos.penalizacion === 0}">{{sem.datos.penalizacion | number: '0.2'}}</td>

                    <td class="font-weight-bold" [ngClass]="{'text-danger': (sem.datos.calificacion - sem.datos.penalizacion) < 6, 'text-dark': (sem.datos.calificacion - sem.datos.penalizacion) >= 6}" *ngIf="sem.datos !== false">{{(sem.datos.calificacion - sem.datos.penalizacion) | number: '0.2'}}</td>

                    <td *ngIf="!sem.datos">0</td>

                  </tr>

                </tbody>

              </table>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>

<div class="card">

  <div class="card-body">

    <h1 class="card-title m-b-5"><span class="lstick"></span>Zona 2</h1>

    <div class="table-responsive">

      <table class="table table-sm stylish-table table-hover">

        <tbody>

          <tr *ngFor="let ase of asesores2">

            <td>{{ase.ruta}} {{ase.nombre}}</td>

            <td>

              <table class="table table-sm">

                <thead>

                  <tr>

                    <th>Día</th>

                    <th>Fecha</th>

                    <th>Clientes</th>
                    
                    <th>Venta</th>
                    
                    <th>Cobranza</th>
                    
                    <th>Meta</th>
                    
                    <th>Califiación</th>

                    <th>Penalización</th>

                    <th>Final</th>

                  </tr>

                </thead>

                <tbody>

                  <tr *ngFor="let sem of ase.semana">

                    <td>{{sem.dia}}</td>

                    <td>{{sem.fecha}}</td>

                    <td>{{sem.datos.clientes}}</td>
                    
                    <td>{{sem.datos.ventas | currency}}</td>
                    
                    <td>{{sem.datos.cobranza | currency}}</td>
                    
                    <td>{{sem.datos.cobranzaObj | currency}}</td>
                    
                    <td>{{sem.datos.calificacion | number: '0.2'}}</td>

                    <td>{{sem.datos.penalizacion | number: '0.2'}}</td>

                    <td class="font-weight-bold" [ngClass]="{'text-danger': (sem.datos.calificacion - sem.datos.penalizacion) < 6, 'text-dark': (sem.datos.calificacion - sem.datos.penalizacion) >= 6}" *ngIf="sem.datos !== false">{{(sem.datos.calificacion - sem.datos.penalizacion) | number: '0.2'}}</td>

                    <td *ngIf="!sem.datos">0</td>

                  </tr>

                </tbody>

              </table>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>