<div class="row">

    <div class="col-12 pb-3">

        <button type="button" class="btn btn-success" (click)="regresar()">

          <i class="mdi mdi-backburger"></i>
  
          Regresar
          
      </button>

    </div>

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <h2 class="card-title text-uppercase">{{ nombre }}</h2>

                <h3 class="card-title text-uppercase" *ngIf="inicio != '-91'">Morosidad Total de {{ (inicio * -1) }} a {{ (fin * -1) }} días <span class="text-danger font-weight-bold">{{ total | currency }}</span></h3>

                <h3 class="card-title text-uppercase" *ngIf="inicio == '-91'">Morosidad Total mayor de 90 días {{ total | currency }}</h3>

                <div class="row">

                    <div class="col-lg-4 col-m-12" *ngFor="let dato of datos">

                        <div class="alert alert-danger">

                            <i class="ti-user"></i> # {{ dato.numero}} - {{ dato.nombre }} <br><br> Dirección <br> {{ dato.direccion }} {{ dato.numerocli }} <br> COL. {{ dato.colonia }} <br> {{ dato.ciudad }}, {{ dato.estado }} CP {{ dato.cp }} <br><br>

                            <b>Folio: {{ dato.folio }} Días Vencidos: {{ dato.dias }} Saldo: {{ dato.total | currency }}</b>

                            <br><a class="btn btn-danger text-white" (click)="solicitarComentarios(dato)">Ver Comentarios</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>