<h1>Ver Rutas Asignadas</h1>

<div class="alert alert-info" *ngIf="guias.length === 0">

    No hay guias generadas.

</div>

<div class="row" *ngIf="guias.length > 0">

    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let guia of guias">

        <div class="card bg-dark">

            <div class="card-header">

                <h5 class="text-white text-uppercase">Chofer {{ guia.chofer }}</h5>

            </div>

            <div class="card-body">

                <h5 class="text-white">Hora {{ guia.hora }}</h5>

                <h5 class="text-white">Importe {{ guia.importe | currency }}</h5>

                <h5 class="text-white">Facturas {{ guia.cantidad | number }}</h5>

                <h5 class="text-white">Verificó {{ guia.verifico }}</h5>

                <h5 class="text-warning">Cajas: {{ guia.cajas }}</h5>

            </div>

            <div class="card-footer">

                <div class="row">

                    <div class="col-12">

                        <img [src]="guia.usuario.img | imagen" class="img-fluid img-circle" width="20%"> <span class="text-truncate">{{ guia.usuario.nombre }}</span>

                    </div>

                    <div class="col-12 pt-2">

                        <button type="button" class="btn btn-succes mr-auto" (click)="verRuta(guia)">Ver Ruta</button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>