<div class="row">

    <div class="col-12">

        <div class="social-widget">

            <div class="soc-header box-google">CANCELADOS</div>

            <div class="soc-content">

                <div class="col-6 b-r">

                    <h3 class="font-medium">{{ cance }}</h3>

                    <h5 class="text-muted">Cantidad</h5></div>

                <div class="col-6">
                    <h3 class="font-medium">{{ canceImpo | currency }}</h3>

                    <h5 class="text-muted">Importe</h5></div>

            </div>

        </div>

    </div>

</div>
