<!--<div class="card" style="background: #4875b4!important;">-->
<div class="card bg-success">

    <div class="card-body">

        <h3 class="card-title text-white">

            <i class="mdi mdi-barcode-scan display-5 text-white"></i> Remisionados

        </h3>

        <hr style="border-color: white;">

        <div class="row">

            <div class="col-lg-12 col-md-12 text-center">

                <span class="text-white">QRO </span>

                <span class="text-white"> {{ zona1 }} - {{ zona1Impo | currency }}</span>

            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <span class="text-white">TX </span>

                <span class="text-white"> {{ zona2 }} - {{ zona2Impo | currency }}</span>

            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <span class="text-white">Esp </span>

                <span class="text-white"> {{ especiales }} - {{ especialesImpo | currency }}</span>

            </div>

            <div class="clearfix"></div>


            <div class="col-lg-12 col-md-12 text-center">

                <hr style="border-color: white;">

                <h3 class="text-white font-light">

                    <div>

                        <span class="font-bold">{{ factu }} - {{ factuImpo | currency }}</span>

                    </div>

                </h3>

            </div>

        </div>

    </div>

</div>