<div class="row mx-5"  style="margin-left: 0px!important; margin-right: 0px!important;">
  <div class="col-lg-12">
    <button type="button" class="btn btn-primary btn-lg my-2" (click)="accion()">Nuevo Registro</button>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card">
      <h3 class="card-title m-4">Almacenistas Registrados (<small>{{ lista.length }}</small>)</h3>
      <div class="col-lg-12">
        <input #almacenista  class="form-control my-4" type="text" placeholder="Buscar Almacenista" (keyup)="buscador(almacenista.value)">
      </div>
      <div class="table-responsive" style="overflow-y: auto; height: 935px!important;">
        <table class="table table-hover mx-4">
          <thead class="bg-danger text-white">
            <tr>
              <th>ID</th>
              <th>Almacenista</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of lista, let i = index">
              <td>{{i + 1}}</td>
              <td>{{d.nombre}}</td>
              <td><button class="btn btn-danger mx-2" (click)="desactivar(d.id_almacenista)" [id]="d.id_almacenista"><i class="fa fa-trash-o"></i></button> <button class="btn btn-secondary mx-2" (click)="verAlm(d.id_almacenista)" [id]="d.id_almacenista">Editar</button></td>
            </tr>
          </tbody>
        </table>
        <button *ngIf="accionbtn === 1" class="btn btn-danger mx-4" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6" *ngIf="img === ''">
    <div class="card" style="height: 1000px!important;">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 centrar">
          <a href="https://ferremayoristas.com.mx/almacen/vistas/capacitacion.php" target="_blank" class="text-danger"><i class="mdi mdi-file-pdf" style="font-size: 6em;"></i><br>Capacitación</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 centrar">
          <a href="https://ferremayoristas.com.mx/almacen/vistas/planta.php" target="_blank" class="text-danger"><i class="mdi mdi-file-pdf" style="font-size: 6em;"></i><br>Almacén</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 centrar">
          <a href="https://ferremayoristas.com.mx/almacen/vistas/cuarto.php" target="_blank" class="text-danger"><i class="mdi mdi-file-pdf" style="font-size: 6em;"></i><br>Cuarto C</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 centrar">
          <a href="https://ferremayoristas.com.mx/almacen/vistas/vendedores.php" target="_blank" class="text-danger"><i class="mdi mdi-file-pdf" style="font-size: 6em;"></i><br>Vendedores</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 centrar">
          <a href="https://ferremayoristas.com.mx/almacen/vistas/choferes.php" target="_blank" class="text-danger"><i class="mdi mdi-file-pdf" style="font-size: 6em;"></i><br>Choferes</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 centrar">
          <a href="https://ferremayoristas.com.mx/almacen/vistas/apoyo.php" target="_blank" class="text-danger"><i class="mdi mdi-file-pdf" style="font-size: 6em;"></i><br>Apoyo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6" *ngIf="img === 'newuser2.jpg' || id > -1">
    <div class="card">
      <div class="centrar" *ngIf="img !== 'newuser2.jpg'">
        <img class="card-img rounded-circle mt-3" style="width: 40%;" src="https://ferremayoristas.com.mx/almacen/vistas/img/{{img}}" >
      </div>
      <div class="card-body">
        <h1  *ngIf="img === 'newuser2.jpg'" class="card-title centrar">Nuevo Registro</h1>
        <h1 *ngIf="id > -1" class="card-title centrar">Editar Registro</h1>
        <form>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="">Nombre</label>
              <input [(ngModel)]='nombre' name ="nombre" type="text" class="form-control" placeholder="ej. Juanito Perez">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="">Usuario</label>
              <input [(ngModel)]='user' name ="user" type="text" class="form-control" placeholder="ej. juanito_perez">
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="">Area</label>
              <input [(ngModel)]='area' name ="area" type="text" class="form-control" placeholder="ej. almacen">
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="">Sección</label>
              <input [(ngModel)]='seccion' name ="seccion" type="text" class="form-control" placeholder="ej. almacen">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="">Tiempo</label>
              <select [(ngModel)]='tiempo' name ="tiempo" class="form-control">
                <option value="2">Selecciona</option>
                <option value="completo">Completo</option>
                <option value="medio">Medio</option>
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="">Activo</label>
              <select [(ngModel)]='activo' name ="activo" class="form-control">
                <option value="2">Selecciona...</option>
                <option value="1">SI</option>
                <option value="0">NO</option>
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="">Capacitacion</label>
              <select [(ngModel)]='capacitacion' name ="capacitacion" class="form-control">
                <option value="2">Selecciona...</option>
                <option value="1">SI</option>
                <option value="0">NO</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="">Rotación</label>
              <select [(ngModel)]='rotacion' name ="rotacion" class="form-control">
                <option value="2">Selecciona...</option>
                <option value="1">SI</option>
                <option value="0">NO</option>
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="">Marquesina</label>
              <select [(ngModel)]='marquesina' name ="marquesina" class="form-control">
                <option value="2">Selecciona...</option>
                <option value="1">SI</option>
                <option value="0">NO</option>
              </select>
            </div>
          </div>
          <div class="form-row" *ngIf="id > -1">
            <div class="form-group col-sm-6 col-md-6">
              <button *ngIf="id > -1" type="submit" (click)="editarAlm()" class="btn btn-primary btn-lg centrar">Guardar</button>
            </div>
            <div class="form-group col-sm-6 col-md-6">
              <button (click)="cancelar()" class="btn btn-danger btn-lg centrar">Cancelar</button>
            </div>
          </div>
          <div class="form-row" *ngIf="img === 'newuser2.jpg'">
            <div class="form-group col-sm-6 col-md-6">
              <button  type="submit" (click)="nuevoRegistro(form)" class="btn btn-primary btn-lg centrar">Crear</button>
            </div>
            <div class="form-group col-sm-6 col-md-6">
              <button (click)="cancelar()" class="btn btn-danger btn-lg centrar">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

      