<!--<div class="card" style="background: #3b5998!important;">-->
<div class="card bg-theme-dark">

    <div class="card-body">

        <h3 class="card-title text-black">
            <i class="mdi mdi-arrow-down-bold display-5 text-black"></i> Por Bajar Total
        </h3>

        <hr>

        <div class="row">

            <div class="col-lg-12 col-md-12 text-center">

                <span class="text-black">QRO </span> 

                <span class="text-black"> {{ zona1 }} - {{ zona1Impo | currency }}</span>

            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <span class="text-black">TX </span>

                <span class="text-black"> {{ zona2 }} - {{ zona2Impo | currency }}</span>

            </div>

            <div class="col-lg-12 col-md-12 text-center">

                <span class="text-black">Esp </span>

                <span class="text-black"> {{ especiales }} - {{ especialesImpo | currency }}</span>

            </div>

            <div class="clearfix"></div>

            
            <div class="col-lg-12 col-md-12 text-center">

                <hr>

                <h3 class="text-black font-light">

                    <div>

                        <span class="font-bold">{{ porBajar }} - {{ porBajarImpo | currency }}</span>
                        
                    </div>

                </h3>

            </div>
        
        </div>
        
    </div>

</div>
