<div class="row">

    <div class="col-lg-12 col-md-12">

        <div class="alert alert-warning" *ngIf="esperar">

            Obteniendo registros

        </div>

        <span *ngIf="ventas">No hay detalles.</span>

        <div class="container-fluid" *ngIf="respuestaGeneral">

            <div class="table-responsive">

                <table class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">

                    <thead>

                        <tr role="row">

                            <th class="text-center">Número</th>

                            <th class="text-center">Cliente</th>

                            <th class="text-center">Saldo</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr role="row" class="odd" *ngFor="let car of cartera">

                            <td class="text-center">

                                <a id="{{car.id}}" href="#modalCarteraProveedores" (click)="obtenerCartera($event)" data-dismiss="modal" data-toggle="modal">
                  
                  {{ car.numero }}

                </a>

                            </td>

                            <td class="sorting_1">{{ car.nombre }}</td>

                            <td class="text-center">{{ car.saldo | currency }}</td>

                        </tr>

                        <tr>

                            <th colspan="2">TOTAL</th>

                            <th class="text-center">{{ saldo | currency }}</th>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

<div id="modalCarteraProveedores" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalConsumoInterno" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <h3 class="display-5 p-b-10 p-t-10">Cartera del Proveedor {{nombre}}</h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>

        </button>

            </div>

            <div class="modal-body">

                <div class="table-responsive">

                    <table class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">

                        <thead>

                            <tr role="row">

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Documento</th>

                                <th class="text-center">Folio</th>

                                <th class="text-center">Saldo</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr role="row" class="odd" *ngFor="let act of actual">

                                <td class="text-center" *ngIf="act.vencido === '2'">

                                    <span class="text-danger"><i class="fa fa-exclamation-triangle"></i></span> {{ act.fecha | date:'dd-MM-yyyy' }}

                                </td>

                                <td class="text-center" *ngIf="act.vencido === '1'">

                                    <span class="text-warning"><i class="fa fa-exclamation-circle"></i></span> {{ act.fecha | date:'dd-MM-yyyy' }}

                                </td>

                                <td class="text-center" *ngIf="act.vencido === '0'">

                                    {{ act.fecha | date:'dd-MM-yyyy' }}

                                </td>

                                <td class="text-center">{{ act.documento }}</td>

                                <td class="text-center">{{ act.folio }}</td>

                                <td class="text-center">{{ act.saldo | currency }}</td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>