<div class="row">

    <!-- <div class="col-lg-4 col-md-6 col-sm-12">

        <div class="card">

            <div class="card-body">

                <app-grafico-lineal [lineChartColors]="lineChartColors" [lineChartLabels]="lineChartLabels" [lineChartOptions]="lineChartOptions" [lineChartData]="lineChartData"></app-grafico-lineal>

            </div>

        </div>

    </div> -->

    <div class="col-lg-4 col-md-6 col-sm-12">

        <div class="card bg-danger mb-5">

            <div class="card-header">

                <h3 class="text-white">Nuevos Pedidos WEB</h3>

            </div>

            <div class="card-body mt-4 mb-5">

                <h1 class="text-white">{{pedidosWeb}} Pedido(s)</h1>

            </div>

        </div>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
</div>