<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="usuarioRegistrado">

        <div class="alert alert-warning">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                <span aria-hidden="true">&times;</span>
                
            </button>

            <h4>Nuevo registro en la tienda</h4>

            <h4>#{{ numero }} {{ nombre }}</h4>

            <h4>email: {{ email }}</h4>

        </div>

    </div>

    <!-- <div class="col-lg-4 col-md-6 col-sm-12">

        <div class="card">

            <div class="card-body">

                <app-grafico-lineal [lineChartColors]="lineChartColors" [lineChartLabels]="lineChartLabels" [lineChartOptions]="lineChartOptions" [lineChartData]="lineChartData"></app-grafico-lineal>

            </div>

        </div>

    </div> -->

    <div class="col-lg-4 col-md-6 col-sm-12">

        <div class="card bg-danger mb-5">

            <div class="card-header">

                <h3 class="text-white">Nuevos Pedidos WEB</h3>

            </div>

            <div class="card-body mt-4 mb-5">

                <h1 class="text-white">{{pedidosWeb}} Pedido(s)</h1>

            </div>

        </div>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
</div>