<div class="row el-element-overlay">

    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">

        <button class="btn btn-info" type="submit" (click)="inicio()">Actualizar</button>

    </div>

    <div class="col-lg-3 col-md-6" *ngFor="let asesor of asesores">

        <div class="card">

            <div class="el-card-item">

                <div class="el-card-avatar el-overlay-1">
                    
                    <img [src]="asesor.img | imagen" alt="user">

                    <div class="el-overlay">

                        <ul class="el-info">

                            <li>

                                <a class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Actividad" (click)="revisar(asesor.idFerrum, asesor.nombre)">

                                    <i class="mdi mdi-link-variant"></i>

                                </a>

                            </li>

                            <li>

                                <a class="btn default btn-outline image-popup-vertical-fit" data-toggle="tooltip" title="Cobranza" (click)="cobrado(asesor.idFerrum, asesor.nombre)">

                                    <i class="mdi mdi-wallet"></i>

                                </a>

                            </li>

                            <li>

                                <a class="btn default btn-outline" data-toggle="tooltip" title="Pedidos" (click)="pedidos(asesor.idFerrum, asesor.nombre)">

                                    <i class="mdi mdi-dropbox"></i>

                                </a>

                            </li>

                            <li *ngIf="rol == 'ADMIN_ROLE' || rol == 'DIR_ROLE' || rol == 'GER_ROLE'">

                                <a class="btn default btn-outline" data-toggle="tooltip" title="Pre-Comisión" (click)="precomision(asesor.idFerrum, asesor.nombre, asesor.img)">

                                    <i class="mdi mdi-chart-gantt"></i>

                                </a>

                            </li>

                            <li>

                                <a class="btn default btn-outline" href="#modalReporte" data-dismiss="modal" data-toggle="modal" (click)="reporte(asesor.idFerrum, asesor.nombre, asesor.img, asesor.lat, asesor.lng, asesor.horaUbicacion)">

                                    <i class="mdi mdi-projector"></i>

                                </a>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="el-card-content">

                    <h3 class="box-title">{{ asesor.nombre }}</h3>

                    <small>{{ asesor.email }}</small>

                    <div class="row">

                        <div class="col-6">

                            <h6>{{ asesor.porBajarCantidad | number }}</h6>

                            <h6>{{ asesor.porBajarImporte | currency }}</h6>

                            <h6>Por Bajar</h6>

                        </div>

                        <div class="col-6">

                            <h6>{{ asesor.porSurtirCantidad | number }}</h6>

                            <h6>{{ asesor.porSurtirImporte | currency }}</h6>

                            <h6>Por Surtir</h6>

                        </div>

                        <div class="col-6">

                            <h6>{{ asesor.facturadoCantidad | number }}</h6>

                            <h6>{{ asesor.facturadoImporte | currency }}</h6>

                            <h6>Facturados</h6>

                        </div>

                        <div class="col-6">

                            <h6>{{ asesor.canceladoCantidad | number }}</h6>

                            <h6>{{ asesor.canceladoImporte | currency }}</h6>

                            <h6>Cacenaldos</h6>

                        </div>

                    </div>

                    <br>

                </div>

            </div>

        </div>

    </div>

</div>

<div id="modalReporte" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalReporte" aria-hidden="true">

    <div class="modal-dialog modal-lg" style="max-width: 95%!important;">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div id="print-section">

                <div class="modal-header">

                    <div class="d-flex justify-content-around">

                        <div class="p-2 bd-highlight">

                            <img [src]="img | imagen" class="rounded-circle" width="90">

                        </div>

                        <div class="p-2 bd-highlight">

                            <h3 class="font-bold text-uppercase">{{asesor}}</h3>

                            <h5 class="p-b-10 p-t-10">Última Posición <b>{{ ultimaPosicion | date: 'dd-MM-yy h:mm:ss a' }}</b></h5>

                        </div>

                        <div class="p-2 bd-highlight">

                            <h6>{{cliente}}</h6>

                            <h6>{{comentario | uppercase}}</h6>

                        </div>

                    </div>

                </div>

                <div class="modal-body" style="display: initial!important;">

                    <div class="row">

                        <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="sinruta !== ''">

                            <h1 class="display-1">{{sinruta}}</h1>

                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-4">

                            <table class="table table-sm table-hover" style="font-size: 12px!important;" *ngIf="sinruta === ''">

                                <thead>

                                    <tr>

                                        <th>Lugar</th>

                                        <th>Hora</th>

                                        <th>Número</th>

                                        <th>Venta</th>

                                        <th>Cobro</th>

                                        <th>Visitado</th>

                                        <th>Distancia</th>

                                    </tr>

                                </thead>

                                <tbody>

                                    <tr *ngFor="let cli of ruta, let i = index" (mouseenter)="entraMouse(cli)">

                                        <td>{{(cli.horaReporte !== '') ? (i + 1) : '--'}}</td>

                                        <td>{{cli.horaReporte}}</td>

                                        <td>{{cli.numero}}</td>

                                        <td>{{cli.vendio | currency}}</td>

                                        <td>{{cli.cobro | currency}}</td>

                                        <td>
                                            
                                            <span class="badge badge-danger" *ngIf="(cli.vendio !== '' || cli.cobro !== '') && !cli.visitado && cli.horaReporte !== ''">ENGAÑO</span>
                                            <span class="badge badge-success" *ngIf="(cli.vendio !== '' || cli.cobro !== '') && cli.visitado && cli.horaReporte !== ''">CORRECTO</span>
                                            <span class="badge badge-warning" *ngIf="(cli.vendio === '' && cli.cobro === '') && cli.visitado && cli.horaReporte !== ''">ADVERTENCIA</span>
                                            <span class="badge badge-pink" *ngIf="(cli.vendio === '' && cli.cobro === '') && !cli.visitado && cli.horaReporte !== ''">SIN VISITA</span>
                                            <span class="badge badge-dark" *ngIf="(cli.vendio === '' && cli.cobro === '') && !cli.visitado && cli.horaReporte === ''">PENDIENTE</span>
                                        </td>
                                        
                                        <td>{{cli.distancia}} {{cli.medida}}</td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>

                        <div class="col-md-8 col-lg-8 col-sm-8">

                            <div class="mapaReporte" *ngIf="sinruta === ''">

                                <!-- <div class="form-check form-check-inline">

                                    <input checked="true" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" (click)="mostrarRuta(1)">

                                    <label class="form-check-label" for="inlineCheckbox1">{{(mostrarRuta1 === 1) ? 'Ocultar ruta clientes' : 'Mostrar ruta clientes'}}</label>

                                </div> -->

                                <div class="form-check form-check-inline">

                                    <input checked="true" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" (click)="mostrarRuta(2)">

                                    <label class="form-check-label" for="inlineCheckbox2">{{(mostrarRuta2 === 1) ? 'Ocultar ruta asesor' : 'Mostrar ruta asesor'}}</label>

                                </div>

                                <div class="form-check form-check-inline">

                                    <input checked="true" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3" (click)="mostrarRuta(3)">

                                    <label class="form-check-label" for="inlineCheckbox3">{{(mostrarClientes === 1) ? 'Ocultar clientes' : 'Mostrar clientes'}}</label>

                                </div>

                                <div class="form-check form-check-inline m-b-0">

                                    <table class="table table-sm font-size-4 m-b-0" style="font-size: 12px!important;">

                                        <tbody>
        
                                            <tr>
        
                                                <td class="p-0"><i class="fa fa-circle m-l-10 font-10 text-success"></i> SI V/C & SI VISITA</td>
        
                                                <td class="p-0"><i class="fa fa-circle m-l-10 font-10 text-danger"></i> SI V/C & NO VISITA</td>
        
                                                <td class="p-0"><i class="fa fa-circle m-l-10 font-10 text-warning"></i> NO V/C & SI VISITA</td>
        
                                                <td class="p-0"><i class="fa fa-circle m-l-10 font-10 text-pink"></i> NO V/C & NO VISITA</td>
        
                                                <td class="p-0"><i class="fa fa-circle m-l-10 font-10 text-dark"></i> PENDIENTE</td>
        
                                            </tr>
        
                                        </tbody>
        
                                    </table>

                                </div>

                                <agm-map [styles]="styles" [usePanning]="usePanning" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'roadmap'" [mapTypeControl]="mapTypeControl" [scaleControl]="mapTypeControl">

                                    <agm-marker *ngFor="let ubi of ruta; let indice = i" [opacity]="mostrarClientes" [title]="titleCli(ubi.numero)" [iconUrl]="markerIconCli(ubi)" [latitude]="ubi.lat" [longitude]="ubi.lng"></agm-marker>

                                    <!-- Este no -->
                                    <!-- <agm-marker [opacity]="mostrarRuta1" *ngFor="let ubi of ubicacionVisita; let in = index" [iconUrl]="markerIconCli(ubi)" [title]="darLabelCli(in, ubi)" [latitude]="ubi.lat" [longitude]="ubi.lng"></agm-marker> -->

                                    <!-- Este si -->
                                    <agm-marker [opacity]="mostrarRuta2" *ngFor="let ubi of ubicacionVisitaOrigen; let in = index" [iconUrl]="markerIconIcons(in, ubi)" [title]="darLabel(in, ubi)" [latitude]="ubi.latOrig" [longitude]="ubi.lngOrig"></agm-marker>

                                    <!-- Este no -->
                                    <!-- <agm-polyline [visible]="mostrarPolyline1" *ngFor="let polyline of visitasRep; let i = index" [strokeColor]="polyline.color">

                                        <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>

                                    </agm-polyline> -->

                                    <!-- Este si -->
                                    <agm-polyline [visible]="mostrarPolyline2" *ngFor="let polyline of sigueCLi; let i = index" [strokeColor]="polyline.color">

                                        <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latOrig" [longitude]="point.lngOrig"></agm-polyline-point>

                                    </agm-polyline>

                                    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="markerIcon()"></agm-marker>

                                </agm-map>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                <button type="button" class="btn btn-success" type="submit" styleSheetFile="assets/plugins/bootstrap/css/bootstrap.min.css" useExistingCss="true" printSectionId="print-section" ngxPrint>Imprimir Reporte</button>

            </div>

        </div>

    </div>

</div>