<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12 animated fadeIn" *ngIf="nc.length === 0 && cargando">

    <div class="alert alert-warning text-center">

      <strong>Cargando</strong>

      <br>

      <i class="fa fa-refresh fa-spin fa-2x"></i>

      <br>

      <span>Espere por favor</span>

    </div>

  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 mt-4">

    <div class="card">

      <div class="card-header bg-info">
        
        <h4 class="m-b-0 text-white">Notas de Crédito Activas</h4>

      </div>

      <div class="card-body">

        <form class="form-horizontal">
          
          <div class="form-group" style="margin-bottom: 0px!important;">

            <h3>Buscar por rnago de fecha</h3>
  
            <hr class="m-t-0 m-b-40">

            <div class="row">

              <div class="col-md-6">

                <div class="form-group row">

                  <label class="control-label text-right col-md-3">Fecha Inicial</label>

                  <div class="col-md-9">

                    <input [(ngModel)]="fechaNC" name="fechaNC" type="date" class="form-control" id="inputFec">

                  </div>

                </div>

                <div class="form-group row">

                  <label class="control-label text-right col-md-3">Fecha Final</label>

                  <div class="col-md-9">

                    <input [(ngModel)]="fechaNCFinal" name="fechaNCFinal" type="date" class="form-control" id="inputFecFinal">

                  </div>

                </div>

              </div>

              <div class="col-md-6">

                <div class="d-flex justify-content-around">

                  <div class="p-2 bd-highlight">

                    <label class="font-weight-bold text-center">
          
                      Total <h3><span class="badge badge-info ml-2">{{ total | number }}</span></h3>
                      
                    </label>

                  </div>

                  <div class="p-2 bd-highlight">

                    <label class="font-weight-bold text-center">
            
                      Trabajadas <h3><span class="badge badge-primary ml-2">{{ trabajadas | number }}</span></h3>
            
                    </label>

                  </div>

                  <div class="p-2 bd-highlight">

                    <label class="font-weight-bold text-center">
            
                      Pendientes <h3><span class="badge ml-2" [ngClass]="{'badge-danger': pendientes > 0, 'badge-inverse': pendientes === 0}">{{ pendientes | number }}</span></h3>
                    
                    </label>

                  </div>

                </div>

              </div>

            </div>
    
          </div>
    
          <button #buscarFecNC type="button" class="btn btn-secondary" (click)="buscarFecha()">Buscar</button>
    
          <button type="button" class="btn btn-success" (click)="limpiar()">Limpiar</button>
    
        </form>

        <div class="table-responsive" *ngIf="nc.length > 0 && !cargando">

          <table class="table fijar-thead" style="width: 100%">
    
            <thead style="display: table!important; width: calc(100% - 1em)!important; table-layout: fixed!important;">
    
              <tr>
    
                <th>FECHA</th>
    
                <th>TIPO</th>
                
                <th>NC</th>
    
                <th>FACTURA</th>

                <th>NUMCLI</th>
    
                <th>CLIENTE</th>
    
                <th>TOTAL</th>
    
                <th>SALDO</th>
    
                <th>ASESOR</th>
    
                <th>TRABAJADO</th>
    
              </tr>
    
            </thead>
    
            <tbody style="display: block!important; height: 500px!important; overflow: auto!important;">
    
              <tr style="display: table!important; width: calc(100% - 1em)!important; table-layout: fixed!important;" *ngFor="let n of nc" [ngClass]="{'bg-primary': n.trabajado}" [id]="'linea' + n.nc + n.factura">
    
                <td>{{ n.fecha | date: 'dd-MM-yyyy' }}</td>
    
                <td>
                  
                  <!-- <span class="badge" [ngClass]="{'badge-inverse text-danger': n.serie === 'NA', 'badge-danger': n.serie === 'C', 'badge-primary': n.serie === 'D', 'badge-info': n.serie === 'P', 'badge-warning': n.serie === 'F', 'badge-inverse': n.serie === 'G'}">{{ n.tiponc }}</span> -->
                  <span class="badge" [ngClass]="{'badge-danger': n.serie === 'C', 'badge-primary': n.serie === 'W' || n.serie === 'GS', 'badge-info': n.serie === 'X' || n.serie === 'DS', 'badge-warning': n.serie === 'Y' || n.serie === 'PS', 'badge-inverse': n.serie === 'Z' || n.serie === 'FS'}">{{ n.tiponc }}</span>
                
                </td>
    
                <td>{{ n.nc }}</td>
    
                <td>{{ n.factura }}</td>
    
                <td>{{ n.numcli }}</td>

                <td>{{ n.nombre }}</td>
    
                <td>{{ n.total | currency }}</td>
    
                <td>{{ n.saldo | currency }}</td>
    
                <td>{{ n.vendedor }}</td>
    
                <td class="text-center">
    
                  <button type="button" class="btn btn-success btn-sm" (click)="trabajado(n)" *ngIf="!n.trabajado && n.serie != 'NA'">
    
                    <i class="mdi mdi-checkbox-marked-outline"></i>
    
                  </button>
    
                  <button type="button" class="btn btn-danger btn-sm" (click)="quitar(n)" *ngIf="n.trabajado && n.serie != 'NA'">
    
                    <i class="mdi mdi-delete-empty"></i>
    
                  </button>
    
                </td>
    
              </tr>
    
            </tbody>
    
          </table>
    
        </div>

      </div>

    </div>
  
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-12">

    <hr>

  </div>


  <div class="col-lg-12 col-md-12 col-sm-12 mt-4">

    <div class="card">

      <div class="card-header bg-primary">

        <h3 class="m-b-0 text-white">Notas de Crédito Trabajadas</h3>

      </div>

      <div class="card-body">

        <form class="form-inline">

          <div class="form-group mb-2">
    
            <label for="staticEmail2">Trabajadas</label>
    
          </div>
    
          <div class="form-group mx-sm-3 mb-2">
    
            <label for="inputNc" class="sr-only">NC</label>
    
            <input [(ngModel)]="inNC" name="inNC" type="text" class="form-control" id="inputNc" placeholder="Nota de Crédito" autocomplete="off">
    
          </div>
    
          <button type="button" class="btn btn-secondary mx-sm-3 mb-2" (click)="buscarNC()">Buscar</button>
    
          <button type="button" class="btn btn-success mb-2" (click)="limpiar()">Limpiar</button>
    
        </form>

        <div class="table-responsive" *ngIf="work.length > 0 && !cargando">
  
          <table class="table fijar-thead" style="width: 100%">
    
            <thead>
    
              <tr>
    
                <th style="width:7%">FECHA</th>
    
                <th style="width:8%">TIPO</th>
                
                <th style="width:5%">NC</th>
    
                <th style="width:5%">FACTURA</th>
    
                <th style="width:32%">CLIENTE</th>
    
                <th style="width:5%">SUBTOTAL</th>
    
                <th style="width:5%">IVA</th>
    
                <th style="width:5%">TOTAL</th>
    
                <th style="width:10%">ASESOR</th>
    
              </tr>
    
            </thead>
    
            <tbody>
    
              <tr *ngFor="let w of work">
    
                <td style="width:7%">{{ w.fecha | date: 'dd-MM-yyyy' }}</td>
    
                <td style="width:8%">
                  
                  <!-- <span class="badge" [ngClass]="{'badge-danger': w.serie === 'C', 'badge-primary': w.serie === 'D', 'badge-info': w.serie === 'P', 'badge-warning': w.serie === 'F', 'badge-inverse': w.serie === 'G'}">{{ w.tiponc }}</span> -->
                  <span class="badge badge-danger">{{ w.tiponc }}</span>
                
                </td>
    
                <td style="width:5%">{{ w.nc }}</td>
    
                <td style="width:5%">{{ w.factura }}</td>
    
                <td style="width:32%">{{ w.nombre }}</td>
    
                <td style="width:5%">{{ w.subtotal | currency }}</td>
    
                <td style="width:5%">{{ w.iva | currency }}</td>
    
                <td style="width:5%">{{ w.total | currency }}</td>
    
                <td style="width:10%">{{ w.vendedor }}</td>
    
              </tr>
    
            </tbody>
    
          </table>
    
        </div>
        
      </div>

    </div>
  
  </div>

</div>

