<div class="form-group">

    <input #buscar type="text" class="form-control w-25" placeholder="Buscar una garantía" (keyup.enter)="search(buscar.value)">

    <button class="btn btn-danger btn-rounded" type="button" (click)="limpiar(); buscar.value = ''">

        <i class="mdi mdi-delete-variant"></i> Limpiar

    </button>

</div>

<div class="card">

    <div class="card-body">

        <h3 *ngIf="garantias.length === 0">Sin documentos en proceso</h3>

        <button type="button" *ngIf="garantias.length === 0" class="btn btn-info btn-rounded mt-3" data-toggle="modal" data-target="#add-garantia" (click)="limpiando()">Nueva Garantía</button>

        <div class="table-responsive" *ngIf="garantias.length > 0">

            <table id="table" class="table table-striped table-hover table-sm m-t-30" data-page-size="10">

                <thead>

                    <tr>

                        <th colspan="1"></th>

                        <th colspan="2" class="border border-bottom-0 text-center">CLIENTE DEL FOLIO</th>

                        <th class="text-center">Fecha</th>

                        <th class="text-center"></th>

                        <th colspan="1" class="border border-bottom-0 text-center">FACTURA</th>
                        
                        <th colspan="1"></th>

                        <th class="text-center">Es</th>
                        
                        <th class="text-center">Me</th>

                        <th colspan="6" class="text-center border border-bottom-0">FECHAS</th>

                        <th colspan="2"></th>

                    </tr>

                    <tr>

                        <th class="">Folio</th>

                        <th class="text-center border border-bottom-0 border-right-0 border-top-0">Número</th>

                        <th class="text-center border border-bottom-0 border-left-0 border-top-0">Nombre</th>

                        <th class="text-center">Folio</th>

                        <th class="text-center">Código</th>

                        <th class="text-center border border-bottom-0 border-top-0">#Factura</th>

                        <th class="">Asesor</th>

                        <th class="text-center">Cliente</th>
                        
                        <th class="text-center">Compro</th>

                        <th class="text-center border border-bottom-0 border-right-0 border-top-0">Registro</th>

                        <th class="text-center border-0">Procesado</th>

                        <th class="text-center border-0">Enviado</th>

                        <th class="text-center border-0">Autorizado</th>

                        <th class="text-center border-0">Entregado</th>

                        <th class="text-center border border-bottom-0 border-left-0 border-top-0">Terminado</th>

                        <th class="text-center">Estado</th>

                        <th class=""></th>

                    </tr>

                </thead>

                <tbody>

                    <tr style="font-size: 13px!important;" *ngFor="let gara of garantias">

                        <td width="5%" class="border-0">{{gara.folio}}</td>

                        <td  class="text-center border border-right-0 border-top-0">{{gara.numero}}</td>
                        
                        <td  class="text-truncate border border-left-0 border-top-0" style="max-width: 100px!important; width: 180px!important">{{gara.nombre}}</td>
                        
                        <td class="text-center border-0">{{gara.fecha | date: 'dd-MM-yy'}}</td>

                        <td class="text-center border border-left-0 border-right-0 border-top-0">{{gara.clvprov}}</td>

                        <td class="text-center border border-top-0">{{gara.facafec}}</td>

                        <td width="10%" class="border-0">

                            {{gara.asesor}}

                        </td>

                        <td width="5%" class="text-center border-0">{{gara.mismocliente}}</td>

                        <td width="5%" class="text-center border-0">{{gara.mecompro}}</td>

                        <td class="text-center border border-right-0 border-top-0" *ngIf="gara.fecreg !== '0000-00-00'">{{gara.fecreg | date: 'dd-MM-yy'}}</td>

                        <td class="text-center border border-right-0 border-top-0" *ngIf="gara.fecreg === '0000-00-00'">--</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaproceso !== '0000-00-00'">{{gara.fechaproceso | date: 'dd-MM-yy'}}</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaproceso === '0000-00-00'">--</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaenviando !== '0000-00-00'">{{gara.fechaenviando | date: 'dd-MM-yy'}}</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaenviando === '0000-00-00'">--</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaautoriza !== '0000-00-00'">{{gara.fechaautoriza | date: 'dd-MM-yy'}}</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaautoriza === '0000-00-00'">--</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaentrega !== '0000-00-00'">{{gara.fechaentrega | date: 'dd-MM-yy'}}</td>

                        <td class="text-center border border-right-0 border-top-0 border-left-0" *ngIf="gara.fechaentrega === '0000-00-00'">--</td>

                        <td class="text-center border border-left-0 border-top-0" *ngIf="gara.fecenvio !== '0000-00-00'">{{gara.fecenvio | date: 'dd-MM-yy'}}</td>

                        <td class="text-center border border-left-0 border-top-0" *ngIf="gara.fecenvio === '0000-00-00'">--</td>

                        <td width="5%" class="text-center border-0">

                            <span *ngIf="gara.estado === 'NUEVO'" class="label label-warning">Nuevo</span>
                            
                            <span *ngIf="gara.estado === 'PROCESO'" class="label label-info">Proceso</span>

                            <span *ngIf="gara.estado === 'ENVIANDO'" class="label label-light-megna">Enviando</span>

                            <span *ngIf="gara.estado === 'AUTORIZACION'" class="label label-light-primary">Autorización</span>

                            <span *ngIf="gara.estado === 'ENTREGAR'" class="label label-light-success">Entregar</span>
                            
                            <span *ngIf="gara.estado === 'ENTREGANDO'" class="label label-custom">Entregando</span>
                            
                            <span *ngIf="gara.estado === 'TERMINADO'" class="label label-success">Terminado</span>
                            
                            <span *ngIf="gara.estado === 'CANCELADO'" class="label label-danger">Cancelado</span>

                        </td>

                        <td width="3%" class="text-center border-0">

                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="Editar" data-toggle="modal" data-target="#editar" *ngIf="gara.estado === 'ENTREGAR' || gara.estado === 'ENTREGANDO' " (click)="verInfo(gara)" (click)="obtenerFolio(gara)">

                                <i class="mdi mdi-table-edit"></i>

                            </button>

                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="Editar" data-toggle="modal" data-target="#editar"  *ngIf="gara.estado !== 'TERMINADO' && gara.estado !== 'ENTREGAR' && gara.estado !== 'ENTREGANDO'" (click)="verInfo(gara)" (click)="obtenerFolio(gara)">

                                <i class="mdi mdi-table-edit"></i>

                            </button>

                            <button type="button" class="btn btn-success" data-toggle="tooltip" title="Ver" data-toggle="modal" data-target="#editar" *ngIf="gara.estado === 'TERMINADO'" (click)="verInfo(gara)" (click)="obtenerFolio(gara)">

                                <i class="mdi mdi-view-module"></i>

                            </button>

                        </td>

                    </tr>

                </tbody>

                <tfoot class="border-0">

                    <tr>

                        <td colspan="6" class="border-0">

                            <button type="button" class="btn btn-info btn-rounded mt-3" data-toggle="modal" data-target="#add-garantia" (click)="limpiando()">Nueva Garantía</button>

                            <button (click)="cambiarDesde(-10)" class="btn btn-secondary btn-rounded mt-3" [disabled]="habilitar">

                                Anteriores
            
                            </button>
            
                            <button (click)="cambiarDesde(10)" class="btn btn-secondary btn-rounded mt-3" [disabled]="habilitar">
            
                                Siguientes
            
                            </button>
                    
                        </td>

                        <td colspan="10" class="border-0"></td>

                    </tr>

                </tfoot>

            </table>

        </div>

    </div>

</div>

<div id="add-garantia" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="add-garantia" aria-hidden="true">

    <div class="modal-dialog modal-lg mw-100" style="width: 95%!important;">

        <div class="modal-content">

            <div class="modal-header">

                <h3 class="p-b-10 p-t-10"><strong>Nueva Garantía</strong></h3>

                <button type="button" class="close" data-dismiss="modal" id="cerrarModalGar" (click)="limpiando()" aria-label="Close">
        
                    <span aria-hidden="true">&times;</span>
        
                </button>

            </div>

            <div class="modal-body">

                <form ngNativeValidate class="form-row" #f="ngForm" (ngSubmit)="agregarGarantia(f)">

                    <div class="form-group col-md-12">

                        <label for="">Folio de Garantía Nueva</label>

                        <input ngModel type="number" name="folio" id="folio" class="form-control" placeholder="Ingresar Folio" autocomplete="off" (change)="validarFolio(f)" required>

                    </div>

                    <div class="form-group col-md-12">

                        <label for="">Fecha del Folio</label>

                        <input ngModel type="date" name="fechaFolio" id="fechaFolio" class="form-control" autocomplete="off" required>

                    </div>

                    <div class="form-group col-md-12">

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="marcaElegir" id="truper" (click)="catalogo('TRUPER')">

                            <label class="form-check-label" for="truper">TRUPER</label>

                            <input [(ngModel)]="foliofmo" type="number" name="foliofmo" id="foliofmo" class="form-control" style="display: none;">

                         </div>

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="marcaElegir" id="fmo" (click)="catalogo('FMO')">

                            <label class="form-check-label" for="fmo">FMO</label>

                        </div>

                    </div>

                    <div class="form-group col-md-12">

                        <h3>¿El producto está descontinuado?</h3>

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="existeProd" id="descontinuado" (click)="existencia('SI')">

                            <label class="form-check-label" for="descontinuado">SI</label>

                        </div>

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="existeProd" id="vigente" (click)="existencia('NO')">

                            <label class="form-check-label" for="vigente">NO</label>

                        </div>
                                          
                    </div>

                    <div class="form-group col-md-12">

                        <h3>¿Tiene factura?</h3>

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="facturaExis" id="sifactura" (click)="facturas('SI')">

                            <label class="form-check-label" for="sifactura">SI</label>

                        </div>

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="facturaExis" id="nofactura" (click)="facturas('NO')">

                            <label class="form-check-label" for="nofactura">NO</label>

                        </div>
                                          
                    </div>

                    <div *ngIf="tieneFactura === 'SI'" class="form-group col-md-12">

                        <label for="">Factura/Remisión</label>

                        <input ngModel type="number" name="factura" id="factura" class="form-control" placeholder="Folio Factura" autocomplete="off" (change)="buscarFactura(f)" required>

                        <input [(ngModel)]="perid" type="number" name="perid" id="perid" class="form-control" style="display: none;">

                        <label for="">No. de Cliente de la Garantía</label>
                        
                        <input [(ngModel)]="numcli" type="number" name="numcli" id="numcli" class="form-control" placeholder="Número de Cliente" autocomplete="off" required readonly>
                        
                        <label for="">Cliente de la Garantía</label>
                        
                        <input  [(ngModel)]="nomcli" type="text" name="nomcli" id="nomcli" class="form-control" placeholder="Nombre del Cliente" autocomplete="off" required readonly>

                        <label for="">Asesor de ventas</label>
                        
                        <input [(ngModel)]="asesor" type="text" name="asesor" id="asesor" class="form-control" placeholder="Nombre del Asesor" autocomplete="off" required readonly>

                        <label *ngIf="asesor !== ''" for="">Selecciona el producto a garantía</label>

                        <select *ngIf="asesor !== ''" [(ngModel)]="pro" class="form-control" name="productos" id="productos" (change)="obtenerPro(f)" required>
                            
                            <option value="0">Selecciona un producto</option>
                            
                            <option  *ngFor="let p of productosFactura" [ngValue]="p">{{p.DESCRIPCIO}}</option>
                                
                        </select>

                        <table *ngIf="pro !== '0'" class="table table-striped">

                            <thead>

                                <tr>

                                    <th>CLAVE</th>

                                    <th>CODIGO</th>

                                    <th>PRECIO</th>

                                    <th>DESCRIPCION</th>

                                    <th>CANTIDAD</th>

                                    <th>FALLA</th>

                                </tr>

                            </thead>

                            <tbody>

                                <tr>

                                    <td>{{clave}}</td>

                                    <td>{{clvprov}}</td>

                                    <td>{{costo}}</td>

                                    <td>{{descr}}</td>

                                    <td><input  ngModel type="number" name="cantidad" id="cantidad" class="form-control" placeholder="Cantidad"  required></td>

                                    <td><input  ngModel type="text" name="falla" id="falla" class="form-control" placeholder="Descripción Falla" required></td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                    <div *ngIf="tieneFactura === 'NO'" class="form-group col-md-12">

                        <h3>¿Es cliente FMO?</h3>

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="esCliente" id="siescliente" (click)="escliente('SI')">

                            <label class="form-check-label" for="siescliente">SI</label>

                        </div>

                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="esCliente" id="noescliente" (click)="escliente('NO')">

                            <label class="form-check-label" for="noescliente">NO</label>

                        </div>

                        <div>

                            <label for="">No. de Cliente de la Garantía</label>

                            <input ngModel type="text" name="numcli" id="numcli" class="form-control" placeholder="Número de Cliente" autocomplete="off" (change)="buscarCli(f)" required>
    
                            <label for="">Cliente de la Garantía</label>
    
                            <input *ngIf="numcli !== 0" [(ngModel)]="nomcli" type="text" name="nomcli" id="nomcli" class="form-control" placeholder="Nombre del Cliente" autocomplete="off" readonly>
                            
                            <input *ngIf="numcli === 0" [(ngModel)]="nomcli" type="text" name="nomcli" id="nomcli" class="form-control" placeholder="Nombre del Cliente" autocomplete="off" required>

                            <label for="">Códio de producto</label>

                            <input ngModel type="number" name="codigo" id="codigo" class="form-control" placeholder="Código" autocomplete="off" (change)="buscarCodigo(f)" required>    

                            <table *ngIf="codigo > 0 " class="table table-striped">

                                <thead>
    
                                    <tr>
    
                                        <th>CLAVE</th>
    
                                        <th>CODIGO</th>
    
                                        <th>PRECIO</th>
    
                                        <th>DESCRIPCION</th>
    
                                        <th>CANTIDAD</th>
    
                                        <th>FALLA</th>
    
                                    </tr>
    
                                </thead>
    
                                <tbody>
    
                                    <tr>
    
                                        <td>{{clave}}</td>
    
                                        <td>{{clvprov}}</td>
    
                                        <td>{{costo}}</td>
    
                                        <td>{{descr}}</td>
    
                                        <td><input  ngModel type="number" name="cantidad" id="cantidad" class="form-control" placeholder="Cantidad"  required></td>
    
                                        <td><input  ngModel type="text" name="falla" id="falla" class="form-control" placeholder="Descripción Falla" required></td>
    
                                    </tr>
    
                                </tbody>
    
                            </table>

                        </div>

                     </div>

                     <div class="col-md-12">

                        <button type="submit" class="btn btn-danger"><i class="mdi mdi-content-save"></i>Guardar</button>

                        <button style="margin-left: 4px;" type="button" class="btn btn-info" (click)="reset(f)"><i class="mdi mdi-delete-variant"></i>Limpiar</button>
                        
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

<div id="editar" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="editar" aria-hidden="true">

    <div class="modal-dialog modal-lg mw-100" style="width: 95%!important;">

        <div class="modal-content">

            <div class="modal-header">

                <h2 class="p-b-10 p-t-10">Detalles de la Garantía</h2>

                <h1 *ngIf="estado === 'NUEVO'" class="font-20 badge badge-warning">Nuevo</h1>
                
                <h1 *ngIf="estado === 'PROCESO'" class="font-20 badge badge-info">Proceso</h1>

                <h1 *ngIf="estado === 'ENVIANDO'" class="font-20 badge badge-pill">Enviando</h1>

                <h1 *ngIf="estado === 'AUTORIZACION'" class="font-20 badge badge-primary">Autorización</h1>

                <h1 *ngIf="estado === 'ENTREGAR'" class="font-20 badge badge-light">Entregar</h1>

                <h1 *ngIf="estado === 'ENTREGANDO'" class="font-20 badge badge-inverse">Entregando</h1>
                
                <h1 *ngIf="estado === 'TERMINADO'" class="font-20 badge badge-success">Terminado</h1>
                
                <h1 *ngIf="estado === 'CANCELADO'" class="font-20 badge badge-danger">Cancelado</h1>

                <button type="button" class="close" data-dismiss="modal" id="cerrarModalGar" aria-label="Close">
        
                    <span aria-hidden="true">&times;</span>
        
                </button>

            </div>

            <div class="modal-body">

                <form ngNativeValidate class="form-row" #g="ngForm" (ngSubmit)="actualizarGarantia(g)"> 

                    <div class="col-md-6 col-lg-6">

                        <div style="height: 200px!important;" class="alert alert-primary form-group" role="alert">

                            <h3><strong>Garantia {{marca}}</strong></h3>

                            <h6 class="" *ngIf="estado === 'ENTREGAR' && folnc === '' || estado === 'TERMINADO' && folnc === '' || estado === 'ENTREGANDO' && folnc === ''"><strong>GARANTIA AUTORIZADA</strong></h6>

                            <h6 class="" *ngIf="estado === 'ENTREGAR' && folnc > 0 || estado === 'TERMINADO' && folnc > 0 || estado === 'ENTREGANDO' && folnc > 0"><strong>GARANTIA AUTORIZADA POR EL CLIENTE</strong></h6>

                            <h6 class="" *ngIf="estado === 'ENTREGAR' && folnc > 0 || estado === 'TERMINADO' && folnc > 0 || estado === 'ENTREGANDO' && folnc > 0">Folio Nota de Credito: {{folnc}}</h6>

                            <h5>Folio: {{folio}}</h5>

                            <h5>Solicitó: {{cliente}}</h5>
                            
                            <h5 *ngIf="numero > 0"># Cliente: {{numero}}</h5><h6 *ngIf="numero === 0" class="badge badge-info">No es Cliente</h6>

                            <h5>Fecha de solicitud: {{fecreg}}</h5>

                        </div>

                    </div>

                    <div class="col-md-6 col-lg-6">

                        <div style="height: 200px!important;" class="alert alert-primary form-group" role="alert">

                            <h3><strong>Factura Afectada</strong></h3>

                            <h5>Factura: {{factura}}</h5>

                            <h5 *ngIf="factura !== 'SIN FACTURA'">Cliente: {{cliente}}</h5>

                            <h5 *ngIf="factura !== 'SIN FACTURA'"># Cliente: {{numero}}</h5>

                        </div>

                    </div>

                    <div class="col-md-6 col-lg-6">

                        <div style="height: 250px!important;" class="alert alert-warning form-group" role="alert">

                            <h3><strong>Producto</strong></h3>
    
                            <table class="table table-striped">
        
                                <thead>
        
                                     <tr>

                                        <th>CLAVE</th>
        
                                        <th>CODIGO</th>
        
                                        <th>PRECIO</th>
        
                                        <th>DESCRIPCION</th>
        
                                        <th>CANTIDAD</th>
        
                                        <th>FALLA</th>
        
                                    </tr>
        
                                </thead>
        
                                <tbody>
        
                                    <tr>
        
                                        <td>{{claveprod}}</td>
        
                                        <td>{{clvprov}}</td>
        
                                        <td>{{costoprod}}</td>
        
                                        <td>{{descr}}</td>
        
                                        <td>{{cantidad}}</td>
        
                                        <td>{{tipoFalla}}</td>
        
                                    </tr>
        
                                </tbody>
        
                            </table>

                        </div>

                    </div>

                    <input [(ngModel)]="idgar" type="number" name="idgar" id="idgar" class="form-control" style="display: none;">

                    <input [ngModel]="folterm" type="text" name="folterm" id="folterm" class="form-control" style="display: none;">

                    <div style="height: 100px!important;" class="col-md-6 col-lg-6">

                        <div *ngIf="estado !== 'NUEVO'" class="alert alert-warning form-group" role="alert">
                                
                            <h3><strong>Orden de trabajo</strong></h3>

                            <h5 *ngIf="marca === 'TRUPER'">Folio Truper: {{foltru}}</h5>
                            
                            <h5 *ngIf="marca === 'FMO'">Folio Fmo: {{foliofmo}}</h5>
                            
                            <h5>Fecha de orden: {{fecregtru}}</h5>
                                
                        </div>

                        <div style="height: 100px!important;" *ngIf="estado !== 'NUEVO' && estado !== 'PROCESO'" class="alert alert-warning form-group" role="alert">
                            
                            <h3><strong>Datos de envio</strong></h3>

                            <h5>Chofer/Paquetería: {{chofer}}</h5>
                            
                            <h5>Placas/Guia:{{placas}} </h5>
                                
                        </div>

                    </div>

                    <!-- <div class="col-md-6">

                       <div *ngIf="estado === 'ENTREGAR' && folnc === '' || estado === 'TERMINADO' && folnc === '' || estado === 'ENTREGANDO' && folnc === ''" class="alert alert-info form-group" role="alert">
                        
                            <h3 class="centrar"><strong> GARANTIA AUTORIZADA POR {{marca}} </strong><i style="color: orange; font-size: 35px;" class="mdi mdi-check-all"></i></h3>
                      
                       </div>
                    
                        <div *ngIf="estado === 'ENTREGAR' && folnc > 0 || estado === 'TERMINADO' && folnc > 0 || estado === 'ENTREGANDO' && folnc > 0" class="alert alert-info form-group" role="alert">
                            
                            <h3 class="centrar"><strong> GARANTIA AUTORIZADA POR EL CLIENTE </strong><i style="color: red; font-size: 35px;" class="mdi mdi-check-all"></i></h3>
                           
                            <h3 class="centrar">Folio Nota de Credito: {{folnc}}</h3>
                        
                        </div>

                    </div> -->

                    <div class="col-md-12 col-lg-12">

                        <div *ngIf="estado === 'ENTREGAR' && guia === 'GUIA NO ENCONTRADA'"  class="alert alert-info form-group" role="alert">
                            
                            <h3 class="centrar"><strong>{{guia}}</strong></h3>

                        </div>

                       <div *ngIf="estado === 'ENTREGAR' && guia === 'DATOS DE GUIA' || estado === 'ENTREGANDO' || estado === 'TERMINADO'" class="alert alert-info form-group" role="alert">
                           
                            <h3 class="centrar"><strong>{{guia}}</strong></h3>   
                           
                                <div class="col-12">
                                
                                <table class="table table-striped">
            
                                    <thead>
            
                                        <tr>
                                            
                                            <th class="text-center">Realizo</th>

                                            <th class="text-center">Fecha</th>
            
                                            <th class="text-center">Hora</th>
            
                                            <th class="text-center">Chofer</th>
            
                                            <th class="text-center">Verifico</th>
                                            
                                            <th></th>

                                        </tr>
            
                                    </thead>
            
                                    <tbody>
            
                                        <tr *ngFor="let res of foliosGuia, let i = index" [ngClass]="{'table-striped': i === 0}">
            
                                            <td class="text-center">{{res.usuario.nombre}}</td>
                                            
                                            <td class="text-center">{{res.fecha}}</td>
            
                                            <td class="text-center">{{res.hora}}</td>
            
                                            <td class="text-center">{{res.chofer.nombre}}</td>
            
                                            <td class="text-center">{{res.verifico}}</td>

                                            <td class="text-center"><img style="width: 100px;" [src]="res.chofer.img | imagen" alt=""></td>

                                        </tr>
            
                                    </tbody>
            
                                </table>

                            </div>

                       </div>

                    </div>

                    
                    <div *ngIf="estado === 'NUEVO'" class="form-group col-md-12">

                        <h3><strong>Orden de trabajo</strong></h3>
                        
                        <label *ngIf="marca === 'TRUPER'"for="">Folio Truper/Fmo</label>
                        
                        <input *ngIf="marca === 'TRUPER'" ngModel type="text" name="foltru" id="foltru" class="form-control" placeholder="Folio truper" autocomplete="off" required>
                        
                        <!-- <h2 *ngIf="marca === 'FMO'"><span class="badge badge-warning">Folio FMO: {{foliofmo}}</span></h2> -->
                        <h2 *ngIf="marca === 'FMO'"><span class="badge badge-warning">Folio FMO: {{foltru}}</span></h2>

                        
                    </div>

                    <div *ngIf="estado === 'PROCESO'" class="form-group col-md-12">
                        
                        <label for="">Chofer/Paquetería</label>

                        <input  ngModel type="text" name="chofer" id="chofer" class="form-control" placeholder="Chofer/ Paquetería por la que se envía" autocomplete="off" required>

                        <label for="">Placas</label>

                        <input ngModel type="text" name="placas" id="placas" class="form-control" placeholder="Placas" required>

                    </div>

                    <div *ngIf="estado === 'ENVIANDO'" class="form-group col-md-12">

                        <h5>¿Se autorizó la Garantía?</h5>

                        <div class="form-check">

                            <input ngModel class="form-check-input" type="radio" name="autorizar_garantia" id="autorizar_no" value="NO" (click)="autorizacion('NO')">

                            <label class="form-check-label" for="autorizar_no">

                                NO

                            </label>

                        </div>

                        <div class="form-check">

                            <input ngModel class="form-check-input" type="radio" name="autorizar_garantia" id="autorizar_si" value="SI" (click)="autorizacion('SI')">

                            <label class="form-check-label" for="autorizar_si">

                                SI

                            </label>

                        </div>

                       

                    </div>
                    
                    <h4 *ngIf="estado === 'AUTORIZACION'" class="px-2">AUTORIZACION</h4>

                    <div *ngIf="estado === 'AUTORIZACION'" class="form-group col-md-12">
                        
                        <h5>¿Enviar producto a garantia con costo?</h5>
                        
                        <div class="form-check">

                            <input ngModel class="form-check-input" type="radio" name="enviar" id="no" value="NO" (click)="enviarCosto('NO')">

                            <label class="form-check-label" for="no">

                                NO

                            </label>

                        </div>

                        <div class="form-check">

                            <input ngModel class="form-check-input" type="radio" name="enviar" id="si" value="SI" (click)="enviarCosto('SI')">

                            <label class="form-check-label" for="si">

                                SI

                            </label>

                        </div>
                                
                    </div>
                            
                    <div *ngIf="estado === 'AUTORIZACION' && enviar === 'SI'" class="form-group col-md-12">

                        <label for="">Folio Nota de Crédito</label>

                        <input ngModel type="text" class="form-control" name="folnc" id="folnc" placeholder="Ingresa el folio de la nota de credito" required>

                    </div>

                    <div *ngIf="estado === 'AUTORIZACION' && enviar === 'NO'" class="form-group col-md-12">

                        <div class="col-12 alert alert-danger" role="alert">Garantía con costo no autorizada, se eliminará.</div>

                    </div>


                    <div class="col-md-12">

                        <button *ngIf="estado === 'NUEVO'" type="submit" class="btn btn-info">Procesar</button>
                        
                        <button *ngIf="estado === 'PROCESO'" type="submit" class="btn btn-info">Enviado</button>
                        
                        <button *ngIf="estado === 'ENVIANDO'  || estado === 'AUTORIZACION' && enviar !== 'NO'" type="submit" (click)="descargar(g)" class="btn btn-info">Entregar</button>

                        <button *ngIf="estado === 'ENTREGANDO' && estado !== 'TERMINADO'" type="submit" class="btn btn-info">Terminar</button>
                        
                        <button *ngIf="estado === 'ENTREGAR' && guia !== 'GUIA NO ENCONTRADA'" type="submit"  class="btn btn-info">Entregando</button>
                        
                        <button *ngIf="estado !== 'TERMINADO'" (click)="cancelar()" class="btn btn-info" >Cancelar Garantía</button>
                        
                        <button *ngIf="estado === 'ENTREGANDO'" (click)="devolucion()" class="btn btn-info">Devolucion</button>

                    </div>

                </form>

            </div>

        </div>

    </div>
    
</div>