<div class="row">

    <div class="col-10">

        <div class="row">

            <div class="col-md-4 m-t-10">

                <div class="card bg-info text-white">

                    <div class="card-body">

                        <div class="d-flex">

                            <div class="stats">

                                <h1 class="text-white">{{ guiasEnc.length | number }}</h1>

                                <h6 class="text-white">Guías Realizadas</h6>

                                <button *ngIf="!generar" class="btn btn-rounded btn-outline btn-light m-t-10 font-14" (click)="generarGuia()">Generar Guía</button>

                            </div>

                            <div class="stats-icon text-right ml-auto">

                                <i class="mdi mdi-barcode-scan display-5 op-3 text-dark"></i>

                                <form ngNativeValidate #f="ngForm" style="padding-bottom: 5px;" *ngIf="generar">

                                    <input placeholder="Ingrese el folio a buscar" type="number" class="form-control" [(ngModel)]="folio" name="folio" (change)="obtenerFolio(f)" />

                                </form>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- twitter Widget -->

            </div>

            <div class="col-md-4 m-t-10">

                <!-- twitter Widget -->
                <div class="card bg-primary text-white">

                    <div class="card-body">

                        <div class="d-flex">

                            <div class="stats">

                                <h1 class="text-white">{{ total | number }}</h1>

                                <h6 class="text-white">Facturadas Liberadas</h6>

                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" (click)="verGuias()">Ver Guías</button>

                            </div>

                            <div class="stats-icon text-right ml-auto">

                                <i class="mdi mdi-altimeter display-5 op-3 text-dark"></i>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- facebook Widget -->

            </div>

            <div class="col-md-4 m-t-10">

                <!-- subscribe Widget -->
                <div class="card">

                    <div class="card-body" style="padding: .8rem 1.25rem .6rem 1.25rem!important">

                        <div class="d-flex">

                            <div class="stats">

                                <form #g="ngForm">

                                    <div class="">

                                        <input type="date" class="form-control" style="margin-bottom: .40rem;" [ngModel]="inicial" name="inicial">
                                        <input type="date" class="form-control" [ngModel]="final" name="final">

                                    </div>

                                </form>

                                <button class="btn btn-rounded btn-outline btn-secondary m-t-10 font-14" (click)="checarLista(g)">Buscar</button>

                            </div>

                            <div class="stats-icon text-right ml-auto">

                                <i class="mdi mdi-developer-board display-5 op-3 text-dark"></i>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-12" *ngIf="generar && !obtener">

            <div class="alert alert-primary" role="alert">

                Esperando datos para mostrar.

                <button class="btn btn-outline-dark btn-light m-t-10 font-14" (click)="cancelarGuia()">Cancelar</button>

            </div>

        </div>

        <div class="col-12" *ngIf="sinDatos">

            <div class="alert alert-danger" role="alert">

                No hay facturas.

            </div>

        </div>

        <div class="row" *ngIf="obtener">

            <div class="col-6">

                <h3>Generar Guía</h3>

            </div>

            <div class="col-6 text-right">

                <button *ngIf="folios.length > 0" class="btn btn-outline-primary btn-light m-t-10 font-14" (click)="procesarGuia()">Procesar</button>

                <button *ngIf="generar" class="btn btn-outline-dark btn-light m-t-10 font-14" (click)="cancelarGuia()">Cancelar</button>

            </div>

            <div class="col-12">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Factura</th>

                                <th class="text-center">Cliente</th>

                                <th class="text-center">Nombre</th>

                                <th class="text-center">Domicilio</th>

                                <th class="text-center">Población</th>

                                <th class="text-center">Vendedor</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Eliminar</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let fol of folios; let i = index">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center">{{ fol.folio }}</td>

                                <td class="text-center">{{ fol.numero }}</td>

                                <td class="text-left">{{ fol.nombre }}</td>

                                <td class="text-left">{{ fol.direccion }}, {{ fol.colonia }}</td>

                                <td class="text-left">{{ fol.ciudad }}, {{ fol.estado }}</td>

                                <td class="text-left">{{ fol.vendedor }}</td>

                                <td class="text-right">{{ fol.total | currency }}</td>

                                <td class="text-center">

                                    <button type="button" class="btn btn-outline-danger" (click)="eliminarFolio(fol, i)">

                                        <i class="mdi mdi-delete-empty"></i>

                                    </button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        <div class="row" *ngIf="guias">

            <div class="col-12">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Hora</th>

                                <th class="text-center">Chofer</th>

                                <th class="text-center">Verifico</th>

                                <th class="text-center">Facturas</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Ver</th>

                                <th class="text-center">PDF</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let g of guiasEnc; let i = index">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center">{{ g.fecha | date }}</td>

                                <td class="text-center">{{ g.hora }}</td>

                                <td class="text-left">{{ g.chofer }}</td>

                                <td class="text-left">{{ g.verifico }}</td>

                                <td class="text-center">{{ g.cantidad | number }}</td>

                                <td class="text-center">{{ g.importe | currency }}</td>

                                <td class="text-center">

                                    <a href="#modalVer" class="btn btn-outline-success" data-dismiss="modal" data-toggle="modal" (click)="modalVer(g)">Ver</a>

                                </td>

                                <td class="text-center">

                                    <a href="#modalPDF" data-dismiss="modal" data-toggle="modal" (click)="modalPDF(g)">

                                        <img src="assets/images/icon/pdf.png" class="img-fluid" width="20">

                                    </a>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        <div class="col-12" *ngIf="folios.length === 0 && !guias && !tuberias">

            <div class="alert alert-primary" role="alert">

                Sin Registro

            </div>

        </div>

        <div class="row" *ngIf="tuberias">

            <div class="col-12">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Hora</th>

                                <th class="text-center">Chofer</th>

                                <th class="text-center">Verifico</th>

                                <th class="text-center">Facturas</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Ver</th>

                                <th class="text-center">PDF</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let g of guiasEnc; let i = index">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center">{{ g.fecha | date }}</td>

                                <td class="text-center">{{ g.hora }}</td>

                                <td class="text-left">{{ g.chofer }}</td>

                                <td class="text-left">{{ g.verifico }}</td>

                                <td class="text-center">{{ g.cantidad | number }}</td>

                                <td class="text-center">{{ g.importe | currency }}</td>

                                <td class="text-center">

                                    <a href="#modalVer" class="btn btn-outline-success" data-dismiss="modal" data-toggle="modal" (click)="modalVer(g)">Ver</a>

                                </td>

                                <td class="text-center">

                                    <a href="#modalPDF" data-dismiss="modal" data-toggle="modal" (click)="modalPDF(g)">

                                        <img src="assets/images/icon/pdf.png" class="img-fluid" width="20">

                                    </a>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

    <div class="col-2" style="background: #e9edf2;">

        <aside class="right-side-panel ps ps--theme_default">

            <div class="row">

                <!-- Weather Widget -->
                <div class="col-md-12 m-t-10">

                    <h5 class="text-muted m-b-0">{{ fecha | date }}</h5>

                    <h3 *ngIf="ultimasGuias.length > 0">Últimas Guías</h3>

                    <table class="table" *ngIf="ultimasGuias.length > 0">

                        <tbody>

                            <tr *ngFor="let ult of ultimasGuias; let i = index">

                                <td><i class="mdi mdi-car-wash"></i> {{ ult.chofer }}</td>

                                <td class="text-right font-medium">{{ ult.cantidad }}</td>

                            </tr>

                        </tbody>

                    </table>

                    <hr>

                </div>
                <!-- End Weather Widget -->

                <!-- Message Widget -->
                <div class="col-md-12 m-t-10 p-b-40">

                    <h3 class="p-relative" *ngIf="especiales.length > 0">

                        <span class="lstick"></span> Código Especiales

                        <span class="pull-right font-14  p-2 label label-rounded label-success">{{ especiales.length | number }}</span>

                    </h3>

                    <div class="msg-widget m-t-20">

                        <div class="activity-item" *ngFor="let esp of especiales; let i = index">
                            <div class="m-t-10">

                                <h5 class="m-b-0 font-medium">{{ esp.clvprov }} <span class="text-muted font-10 m-l-10">{{ esp.descripcio }} &nbsp; {{ esp.desentregado }} pza(s)</span></h5>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- End Message Widget -->

                <!-- Message Widget -->
                <div class="col-md-12 m-t-10 p-b-40">

                    <h3 class="p-relative" *ngIf="guiasRecientes.length > 0">

                        <span class="lstick"></span> Guías Recientes

                        <span class="pull-right font-14  p-2 label label-rounded label-success">{{ guiasRecientes.length | number }}</span>

                    </h3>

                    <div class="msg-widget m-t-20">

                        <div class="activity-item" *ngFor="let rec of guiasRecientes; let i = index">

                            <div class="round m-r-20">

                                <img [src]="rec.usuario.img | imagen" alt="user" width="50">

                            </div>
                            <div class="m-t-10">

                                <h5 class="m-b-0 font-medium">{{ rec.verifico }} <span class="text-muted font-14 m-l-10">| &nbsp; {{ rec.hora }}</span></h5>

                                <h6 class="text-muted">{{ rec.chofer }} {{ rec.importe | currency }} </h6>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- End Message Widget -->

            </div>

            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">

                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>

            </div>

            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">

                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>

            </div>

        </aside>

    </div>

</div>

<div id="modalPDF" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalPDF" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <div class="row">

                    <div class="col-12">

                        <h3 class="font-bold">Chofer {{ chofer }}</h3>

                    </div>

                    <div class="col-12">

                        <h3>Total {{ impo | currency }} / {{ cantidad | number }} Factura(s) | {{ fec | date }} {{ hora }} | Verificó {{ veri }}</h3>

                    </div>

                </div>

            </div>

            <div class="modal-body">

                <div class="table-responsive">

                    <embed [src]="sanitizer.bypassSecurityTrustResourceUrl(ruta)" type="application/pdf" width="100%" height="600">

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>

    </div>

</div>

<div id="modalVer" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalVer" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <div class="row">

                    <div class="col-6">

                        <div class="row">

                            <div class="col-12">

                                <h3 class="font-bold">Chofer {{ chofer }}</h3>

                            </div>

                            <div class="col-12">

                                <h5>Total {{ impo | currency }} / {{ cantidad | number }} Factura(s) | {{ fec | date }} {{ hora }} | Verificó {{ veri }}</h5>

                            </div>

                            <div class="col-12">

                                <p>Cajas: {{ cajas }}</p>

                            </div>

                        </div>

                    </div>

                    <div class="col-6">

                        <div class="msg-widget m-t-20">

                            <ul class="list-inline">

                                <li class="list-inline-item" *ngFor="let esp of especialesDiaModal; let i = index">

                                    <h5 class="m-b-0 font-medium">{{ esp.clvprov }} <span class="text-muted font-10 m-l-10">{{ esp.descripcio }} &nbsp; {{ esp.desentregado }} pza(s)</span></h5>

                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-body">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Factura</th>

                                <th class="text-center">Cliente</th>

                                <th class="text-center">Nombre</th>

                                <th class="text-center">Domicilio</th>

                                <th class="text-center">Población</th>

                                <th class="text-center">Vendedor</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Liberar</th>

                                <th class="text-center">Asignar</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr id="linea{{fac._id}}" *ngFor="let fac of facturas; let i = index" [ngClass]="{'bg-primary': fac.reasignar === 'true', 'text-white': fac.reasignar === 'true'}">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center">{{ fac.factura }}</td>

                                <td class="text-center">{{ fac.cliente }}</td>

                                <td class="text-left">{{ fac.nombre }}</td>

                                <td class="text-left">{{ fac.domicilio }}</td>

                                <td class="text-left">{{ fac.poblacion }}</td>

                                <td class="text-left">{{ fac.vendedor }}</td>

                                <td class="text-right">{{ fac.importe | currency }}</td>

                                <td class="text-center">

                                    <button class="btn btn-info btn-sm" (click)="reasignar(fac)">Liberar</button>

                                </td>

                                <td class="text-center">

                                    <button class="btn btn-success btn-sm" (click)="asignar(fac)">Asignar</button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" (click)="borarModalVer()" data-dismiss="modal">Close</button>

            </div>

        </div>

    </div>

</div>