<div class="row">

    <div class="col-12">

        <div class="row">

            <div class="col-md-3 m-t-10">

                <div class="card bg-info text-white">

                    <div class="card-body">

                        <div class="d-flex">

                            <div class="stats">

                                <h1 class="text-white">{{ guiasEnc.length | number }}</h1>

                                <h6 class="text-white">Guías Realizadas</h6>

                                <button *ngIf="!generar" class="btn btn-rounded btn-outline btn-light m-t-10 font-14" (click)="generarGuia()">Generar Guía</button>

                                <button *ngIf="!generar" class="btn btn-rounded btn-outline btn-dropbox m-t-10 font-14" (click)="procesarGuiaTX()">Procesar Guía</button>

                            </div>

                            <div class="stats-icon text-right ml-auto">

                                <i class="mdi mdi-barcode-scan display-5 op-3 text-dark"></i>

                                <form style="padding-bottom: 5px;" *ngIf="generar">

                                    <!-- <input #fecBusqueda class="form-control" type="date" name="fecBusqueda" id="fecBusqueda"> -->

                                    <input id="inputF" #folioIn placeholder="Ingrese el folio a buscar" *ngIf="terminoEspecial" autocomplete="off" type="number" class="form-control" name="folio" (change)="obtenerFolio()" />

                                </form>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- twitter Widget -->

            </div>

            <div class="col-md-3 m-t-10">

                <!-- twitter Widget -->
                <div class="card bg-primary text-white">

                    <div class="card-body">

                        <div class="d-flex">

                            <div class="stats">

                                <h1 class="text-white">{{ total | number }}</h1>

                                <h6 class="text-white">Remisiones Liberadas</h6>

                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" (click)="verGuias()">Ver Guías</button>

                            </div>

                            <div class="stats-icon text-right ml-auto">

                                <i class="mdi mdi-altimeter display-5 op-3 text-dark"></i>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- facebook Widget -->

            </div>

            <div class="col-md-3 m-t-10">

                <!-- subscribe Widget -->
                <div class="card">

                    <div class="card-body" style="padding: .8rem 1.25rem .6rem 1.25rem!important">

                        <div class="d-flex">

                            <div class="stats">

                                <form #g="ngForm">

                                    <div class="" *ngIf="porFecha">

                                        <input type="date" class="form-control" style="margin-bottom: .40rem;" [ngModel]="inicial" name="inicial">

                                        <input type="date" class="form-control" [ngModel]="final" name="final">

                                    </div>

                                    <input #foliobuscar *ngIf="porFolio" (keyup.enter)="buscarFolio(foliobuscar.value)" type="text" class="form-control" name="folio" placeholder="Folio">

                                    <button class="btn btn-rounded btn-outline btn-secondary font-14" (click)="checarLista(g)" *ngIf="porFecha">Buscar</button>

                                    <select style="width: 50%; margin-top: 5px!important;" #select name="tipoBusqueda" id="tipoBusqueda" class="form-control" (change)="tipoBus(select.value)">
                                            
                                        <option value="0">Por Fecha</option>
                                        
                                        <option value="1">Por Folio</option>
                                        
                                    </select>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-3 m-t-10">

                <!-- twitter Widget -->
                <div class="card bg-inverse text-white">

                    <div class="card-body" style="padding: 0.6rem!important;">

                        <div class="d-flex">

                            <div class="stats">

                                <h3 class="text-white" *ngIf="ultimasGuias.length > 0">Últimas Guías</h3>

                                <table class="table table-sm" *ngIf="ultimasGuias.length > 0" style="margin-bottom: 0px!important;">

                                    <tbody>

                                        <tr *ngFor="let ult of ultimasGuias; let i = index">

                                            <td style="border-top: none!important;" class="text-truncate text-uppercase"><i class="mdi mdi-car-wash"></i> {{ ult.chofer.nombre }}</td>

                                            <td style="border-top: none!important;" class="text-right font-medium">{{ ult.cantidad }}</td>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- facebook Widget -->

            </div>

        </div>

        <div class="col-12" *ngIf="generar && !obtener">

            <div class="alert alert-primary" role="alert">

                Esperando datos para mostrar.

            </div>

        </div>

        <div class="col-12" *ngIf="sinDatos">

            <div class="alert alert-danger" role="alert">

                No hay facturas.

            </div>

        </div>

        <div class="row" *ngIf="generar">

            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="d-flex justify-content-between">

                    <div class="p-2 bd-highlight">

                        <h3>Generar Guía</h3>

                    </div>

                    <div class="p-2 bd-highlight" *ngIf="diaSemana === 5">

                        <label for="viernes">Fecha Asignar</label>

                        <input [(ngModel)]="fechaAsignar" class="form-control" type="date" name="viernes" id="viernes">

                    </div>

                    <div class="p-2 bd-highlight">

                        <button *ngIf="folios.length > 0" class="btn btn-outline-primary btn-light m-t-10 font-14" (click)="procesarGuia()">Procesar</button>

                        <button *ngIf="generar" class="btn btn-outline-dark btn-light m-t-10 font-14" (click)="cancelarGuia()">Cancelar</button>

                    </div>

                </div>

                <div class="d-flex justify-content-around">

                    <div class="p-2 bd-highlight">

                        <form>

                            <div class="form-group">

                                <label for="chofer">Chófer</label>

                                <select name="chofer" class="form-control" [(ngModel)]="chf" (change)="obtenerChofer()">

                                    <option value="0">Seleccione un chófer</option>
                            
                                    <option class="text-uppercase" [ngValue]="chofer" *ngFor="let chofer of choferes">{{ chofer.nombre }}</option>
        
                                </select>

                            </div>

                        </form>

                    </div>

                    <div class="p-2 bd-highlight">

                        <form>

                            <div class="form-group">

                                <label for="chofer">Vehículo</label>

                                <select name="carro" class="form-control" [(ngModel)]="carro" (change)="obtenerUnidad()">

                                    <option value="0">Seleccione una unidad</option>
                            
                                    <option class="text-uppercase" [ngValue]="car" *ngFor="let car of unidades">{{ car.PLACAS }}</option>
        
                                </select>

                            </div>

                        </form>

                    </div>

                    <div class="p-2 bd-highlight">

                        <form>

                            <div class="form-group">

                                <label for="chofer">Verificador</label>

                                <select name="verifica" class="form-control" [(ngModel)]="verifica" (change)="obtenerVerify()">

                                        <option value="0">Seleccione un verificador</option>
                            
                                    <option class="text-uppercase" [ngValue]="verify" *ngFor="let verify of verificadores">

                                        {{ verify.nombre }}
                                    
                                    </option>
        
                                </select>

                            </div>

                        </form>

                    </div>

                    <div class="p-2 bd-highlight">

                        <form>

                            <div class="form-row align-items-center">

                                <div class="col-3">

                                    <label for="abiertas">Abiertas</label>

                                    <input type="number" min="0" [(ngModel)]="abiertas" name="abiertas" class="form-control mb-2" id="abiertas" placeholder="Abiertas">

                                </div>

                                <div class="col-3">

                                    <label for="azules">Azules</label>

                                    <input type="number" min="0" [(ngModel)]="azules" name="azules" class="form-control mb-2" id="azules" placeholder="Azules">

                                </div>

                                <div class="col-3">

                                    <label for="nargde">NarGde</label>

                                    <input type="number" min="0" [(ngModel)]="nargde" name="nargde" class="form-control mb-2" id="nargde" placeholder="NarGde">

                                </div>

                                <div class="col-3">

                                    <label for="narpeq">NarPeq</label>

                                    <input type="number" min="0" [(ngModel)]="narpeq" name="narpeq" class="form-control mb-2" id="narpeq" placeholder="NarPeq">

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="obtener">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Remisión</th>

                                <th class="text-center">Cliente</th>

                                <th class="text-center">Nombre</th>

                                <th class="text-center">Domicilio</th>

                                <th class="text-center">Población</th>

                                <th class="text-center">Vendedor</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Eliminar</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let fol of folios; let i = index">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center">{{ fol.folio }}</td>

                                <td class="text-center">{{ fol.numero }}</td>

                                <td class="text-left text-uppercase">{{ fol.nombre }}</td>

                                <td class="text-left text-uppercase">{{ fol.direccion }}, {{ fol.colonia }}</td>

                                <td class="text-left text-uppercase">{{ fol.ciudad }}, {{ fol.estado }}</td>

                                <td class="text-left text-uppercase">{{ fol.vendedor }}</td>

                                <td class="text-right">{{ fol.total | currency }}</td>

                                <td class="text-center">

                                    <button type="button" class="btn btn-outline-danger" (click)="eliminarFolio(fol, i)">

                                        <i class="mdi mdi-delete-empty"></i>

                                    </button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        <div class="row" *ngIf="guias">

            <div class="col-12">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Realizó</th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Hora</th>

                                <th class="text-center">Chofer</th>

                                <th class="text-center">Verificó</th>

                                <th class="text-center">Remisiones</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Ver</th>

                                <th class="text-center">PDF</th>

                                <th class="text-center">Enviar</th>

                                <th class="text-center">Editar</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let g of guiasEnc; let i = index">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center" width="2.5%">

                                    <img [src]="g.usuario.img | imagen" class="img-fluid img-circle">

                                </td>

                                <td class="text-center">{{ g.fecha | date }}</td>

                                <td class="text-center">{{ g.hora }}</td>

                                <td class="text-left text-uppercase">

                                    <span [id]="'chofer' + g.chofer._id">

                                        {{ g.chofer.nombre }}

                                    </span>

                                    <select [id]="'choferSel' + g.chofer._id" name="chofer" class="form-control" [(ngModel)]="chf" (change)="obtenerChofer()" style="display: none;">
                            
                                        <option class="text-uppercase" [ngValue]="chofer" *ngFor="let ch of choferes">{{ ch.nombre }}</option>
            
                                    </select>


                                </td>

                                <td class="text-left text-uppercase">{{ g.verifico }}</td>

                                <td class="text-center">{{ g.cantidad | number }}</td>

                                <td class="text-center">{{ g.importe | currency }}</td>

                                <td class="text-center">

                                    <a href="#modalVer" class="btn btn-outline-success" data-dismiss="modal" data-toggle="modal" (click)="modalVer(g)">Ver</a>

                                </td>

                                <td class="text-center">

                                    <a href="#modalPDF" data-dismiss="modal" data-toggle="modal" (click)="modalPDF(g)">

                                        <img src="assets/images/icon/pdf.png" class="img-fluid" width="20">

                                    </a>

                                </td>

                                <td class="text-center">

                                    <button class="btn btn-outline-info" (click)="enviarEmail(g)">

                                        <i class="mdi mdi-email-variant"></i>

                                    </button>

                                </td>

                                <td class="text-center">

                                    <button [id]="'edit' + g.chofer._id" class="btn btn-outline-info" (click)="editar(g)">

                                        <i class="mdi mdi-tooltip-edit"></i>

                                    </button>

                                    <button [id]="'confirm' + g.chofer._id" class="btn btn-outline-success" (click)="enviarEditar(g)" style="display: none">

                                        <i class="mdi mdi-tooltip-outline-plus"></i>

                                    </button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        <div class="col-12" *ngIf="folios.length === 0 && !guias && !tuberias">

            <div class="alert alert-primary" role="alert">

                Sin Registro

            </div>

        </div>

        <div class="row" *ngIf="tuberias">

            <div class="col-12">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Hora</th>

                                <th class="text-center">Chofer</th>

                                <th class="text-center">Verifico</th>

                                <th class="text-center">Remisiones</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Ver</th>

                                <th class="text-center">PDF</th>

                                <th class="text-center">Enviar</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let g of guiasEnc; let i = index">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center">{{ g.fecha | date }}</td>

                                <td class="text-center">{{ g.hora }}</td>

                                <td class="text-left text-uppercase">{{ g.chofer.nombre }}</td>

                                <td class="text-left text-uppercase">{{ g.verifico }}</td>

                                <td class="text-center">{{ g.cantidad | number }}</td>

                                <td class="text-center">{{ g.importe | currency }}</td>

                                <td class="text-center">

                                    <a href="#modalVer" class="btn btn-outline-success" data-dismiss="modal" data-toggle="modal" (click)="modalVer(g)">Ver</a>

                                </td>

                                <td class="text-center">

                                    <a href="#modalPDF" data-dismiss="modal" data-toggle="modal" (click)="modalPDF(g)">

                                        <img src="assets/images/icon/pdf.png" class="img-fluid" width="20">

                                    </a>

                                </td>

                                <td class="text-center">

                                    <button class="btn btn-outline-info" (click)="enviarEmail(g)">

                                        <i class="mdi mdi-email-variant"></i>

                                    </button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        <div class="row pt-4" *ngIf="foliosBusq.length > 0">

            <div class="col-lg-12 col-md-12 col-sm-12">

                <h2>Historial de la Factura {{ noFac }}</h2>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="table-responsive">

                    <table class="table">

                        <thead>

                            <tr>

                                <th colspan="2"></th>

                                <th colspan="2" class="text-center border border-bottom-0">Fecha</th>

                                <th colspan="6"></th>
                            </tr>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Realizó</th>

                                <th class="text-center border border-bottom-0 border-top-0 border-right-0">FecCre</th>

                                <th class="text-center border border-bottom-0 border-top-0 border-left-0">FecAsig</th>

                                <th class="text-center">Hora</th>

                                <th class="text-center">Chofer</th>

                                <th class="text-center">Verificó</th>

                                <th class="text-center">Remisiones</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Ver</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let fol of foliosBusq, let i = index" [ngClass]="{'bg-info text-white': i === 0}">

                                <td>{{ (i + 1) }}</td>

                                <td class="text-uppercase">{{ fol.usuario.nombre }}</td>

                                <td>{{ fol.fecha | date: 'dd-MM-yyyy' }}</td>

                                <td>{{ fol.fechaAsig | date: 'dd-MM-yyyy' }}</td>

                                <td>{{ fol.hora }}</td>

                                <td class="text-uppercase">{{ fol.chofer.nombre }}</td>

                                <td class="text-uppercase">{{ fol.verifico }}</td>

                                <td>{{ fol.cantidad }}</td>

                                <td>{{ fol.importe | currency }}</td>

                                <td class="text-center">

                                    <a href="#modalVer" class="btn" [ngClass]="{'btn-outline-success': i !== 0, 'btn-outline-light': i === 0}" data-dismiss="modal" data-toggle="modal" (click)="modalVer(fol)">Ver</a>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

<div id="modalPDFInicio" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalPDF" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <h3 class="font-bold">Espere por favor...</h3>

            </div>

            <div class="modal-body text-center">

                <h1>INICIANDO CONSTRUCCION DE PDF PARA TX</h1>

            </div>

        </div>

    </div>

</div>

<div id="modalPDF" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalPDF" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <div class="row">

                    <div class="col-12">

                        <h3 class="font-bold">Chofer {{ chofer }}</h3>

                    </div>

                    <div class="col-12">

                        <h3>Total {{ impo | currency }} / {{ cantidad | number }} Factura(s) | {{ fec | date }} {{ hora }} | Verificó {{ veri }}</h3>

                    </div>

                </div>

            </div>

            <div class="modal-body">

                <div class="table-responsive">

                    <embed [src]="ruta" type="application/pdf" width="100%" height="600">

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>

        </div>

    </div>

</div>

<div id="modalVer" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalVer" aria-hidden="true">

    <div class="modal-dialog modal-lg tablas-modales">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <div class="row">

                    <div class="col-6">

                        <div class="row">

                            <div class="col-2">

                                <img [src]="choferImg | imagen: 'chofer'" class="img-fluid">

                            </div>

                            <div class="col-10">

                                <h3 class="font-bold">Chofer {{ chofer }}</h3>

                                <h5>Total {{ impo | currency }} / {{ cantidad | number }} Factura(s) | {{ fec | date }} {{ hora }} | Verificó {{ veri }}</h5>
                                
                                <p>Cajas: {{ cajas }}</p>

                                <h5>Unidad: {{ unidad }} Placas: {{ placa }}</h5>

                            </div>

                        </div>

                    </div>

                    <div class="col-6">

                        <div class="msg-widget m-t-20">

                            <ul class="list-inline">

                                <li class="list-inline-item" *ngFor="let esp of especialesDiaModal; let i = index">

                                    <h5 class="m-b-0 font-medium">{{ esp.clvprov }} <span class="text-muted font-10 m-l-10">{{ esp.descripcio }} &nbsp; {{ esp.desentregado }} pza(s)</span></h5>

                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-body">

                <div class="table-responsive">

                    <table class="table table-striped table-sm">

                        <thead>

                            <tr>

                                <th class="text-center">#</th>

                                <th class="text-center">Remisión</th>

                                <th class="text-center">Cliente</th>

                                <!-- <th class="text-center">Nombre</th> -->

                                <th class="text-center">Domicilio</th>

                                <th class="text-center">Población</th>

                                <th class="text-center">Vendedor</th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Liberar</th>

                                <th class="text-center">Asignar</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr id="linea{{fac.factura}}" *ngFor="let fac of facturas; let i = index" [ngClass]="{'bg-primary': fac.reasignar === true, 'text-white': fac.reasignar === true}">

                                <td class="text-center">{{ (i + 1) }}</td>

                                <td class="text-center">{{ fac.factura }}</td>

                                <td class="text-center">{{ fac.cliente }}</td>

                                <!-- <td class="text-left text-uppercase">{{ fac.nombre }}</td> -->

                                <td class="text-left text-uppercase">{{ fac.domicilio }}</td>

                                <td class="text-left text-uppercase">{{ fac.poblacion }}</td>

                                <td class="text-left text-uppercase">{{ fac.vendedor }}</td>

                                <td class="text-right">{{ fac.importe | currency }}</td>

                                <td class="text-center">

                                    <button class="btn btn-info btn-sm" (click)="reasignar(fac, i)">Liberar</button>

                                </td>

                                <td class="text-center">

                                    <button class="btn btn-success btn-sm" (click)="asignar(fac, i)">Asignar</button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" (click)="borarModalVer()" data-dismiss="modal">Cerrar</button>

            </div>

        </div>

    </div>

</div>

<div id="verFolio" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">

                <h3 class="modal-title">Resultados de {{ fol }}</h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-12 centrar">

                        <h2>Generó Guía</h2>

                        <img [src]="imgGeneroGuia | imagen" class="img-fluid img-circle" width="40%">

                        <h3 class="text-uppercase">{{ generoGuia }}</h3>

                    </div>

                    <div class="col-lg-9 col-md-6 col-sm-12">

                        <h3>Fecha: {{ fec | date: 'dd-MM-yyyy' }}</h3>

                        <h3>Hora: {{ hora }}</h3>

                        <h3 class="text-uppercase">Chófer: {{ chofer }}</h3>

                        <h3>Cantidad: {{ cantidad }}</h3>

                        <h3>Clientes: {{ cli }}</h3>

                        <h3>Importe: {{ impo | currency }}</h3>

                        <h3 class="text-uppercase">Verificó: {{ veri }}</h3>

                        <h3>Cajas: {{ cajas }}</h3>

                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button class="btn btn-info btn-sm" (click)="reasignar(guiaEnc, 1, 'busqueda')">Liberar</button>

                <button class="btn btn-success btn-sm" (click)="asignar(guiaEnc, 1, 'busqueda')">Asignar</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>

        </div>

    </div>

</div>