<div class="row">

  <div class="col-md-3 col-lg-3 col-sm-12">

    <div class="form-group">

      <input #factura type="number" name="factura" id="factura" class="form-control" (change)="trabajar()" autocomplete="off" autofocus placeholder="Ingrese la factura" required>

    </div>

  </div>

  <div class="col-md-6 col-lg-6 col-sm-12">

    <form class="form-inline">

      <label class="mb-2 mr-sm-2" for="fechaIn">Por Fecha</label>

      <label class="sr-only" for="fecha">Inicio</label>

      <input #fecha name="fecha" type="date" class="form-control mb-2 mr-sm-2" id="fecha">
    
      <button type="button" class="btn btn-info mb-2 mr-sm-2" (click)="buscar(fecha.value)">Buscar</button>

      <label class="mb-2 mr-sm-2" for="fechaIn">Por Folio</label>

      <label class="sr-only" for="fecha">Folio</label>

      <input #folio name="folio" type="number" class="form-control mb-2 mr-sm-2" id="folio">
    
      <button type="button" class="btn btn-info mb-2" (click)="buscarFolio(folio.value)">Buscar</button>

    </form>

  </div>

  <div class="col-md-3 col-lg-3 col-sm-12">

    <button type="button" class="btn btn-info mb-2" (click)="actualizar()">Limpiar</button>

  </div>

  <div class="col-md-4 col-lg-4 col-sm-12">

    <div class="table-responsive">

      <table class="table table-sm">

        <thead>

          <tr>

            <th class="text-center">#</th>

            <th class="text-center">Número</th>

            <th>Total</th>

            <th class="text-center">Pendiente</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let fac of facturas, let i = index">

            <td class="text-center">{{(i + 1)}}</td>

            <td class="text-center">{{fac.NUMERO}}</td>

            <td>{{fac.TOTAL | currency}}</td>

            <td class="text-center">
              <i class="mdi mdi-clock"></i>
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div class="col-md-4 col-lg-4 col-sm-12">

    <div class="table-responsive">

      <table class="table table-sm">

        <thead>

          <tr>

            <th class="text-center">#</th>

            <th class="text-center">Número</th>

            <th>Total</th>

            <th class="text-center">Trabajados</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let fac of facturasTrab, let i = index">

            <td class="text-center">{{(i + 1)}}</td>

            <td class="text-center">{{fac.numero}}</td>

            <td>{{fac.total | currency}}</td>

            <td class="text-center">
              <i class="mdi mdi-check-circle-outline text-info"></i>
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div class="col-md-4 col-lg-4 col-sm-12 text-center">

    <h3>PENDIENTES</h3>

    <h1 class="display-1 text-danger">{{pendientes}}</h1>

    <h3>TRABAJADOS</h3>

    <h1 class="display-1 text-info">{{trabajados}}</h1>

  </div>

</div>
