<div class="row">

  <div class="col-lg-2 col-md-12">

    <form #f="ngForm">

      <div class="form-group">

          <label for="inicio" class="col-2 col-form-label">Inicio</label>

          <input [ngModel]='inicio' class="form-control" name="inicio" type="date" value="0000/00/00" id="inicio">

      </div>

      <div class="form-group">

          <label for="final" class="col-2 col-form-label">Fin</label>

          <input [ngModel]='final' class="form-control" name="final" type="date" value="0000/00/00" id="final">

      </div>

      <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" (click)="solicitar( f )">Solicitar</button>

      <button type="button" class="btn btn-danger btn-block waves-effect waves-light m-r-10" (click)="descargar( f )" [disabled]="utilidades?.length === 0">Descargar</button>

    </form>

  </div>

  <div class="col-lg-10 col-md-12">

    <div class="alert alert-warning" *ngIf="esperar">

      Obteniendo registros

    </div>

    <span *ngIf="respuesta">No ha solicitado nada.</span>

    <span *ngIf="ventas">No hay detalles.</span>

    <span *ngIf="descarga">Datos descargado.</span>

    <div class="container-fluid" *ngIf="respuestaGeneral">

      <div class="table-responsive">

        <table class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
          
          <thead>

            <tr role="row">

              <th class="text-center">Proveedor</th>

              <th class="text-center">Venta</th>

              <th class="text-center">Costo</th>

              <th class="text-center">Utilidad</th>

              <th class="text-center">% Util</th>

            </tr>

          </thead>

          <tbody>

            <tr role="row" class="odd" *ngFor="let utilidad of utilidades">

              <td class="sorting_1">{{ utilidad.proveedor }}</td>

              <td class="text-center">{{ utilidad.venta | currency }}</td>

              <td class="text-center">{{ utilidad.costo | currency }}</td>

              <td class="text-center">{{ utilidad.utilidad | currency }}</td>

              <td class="text-center">{{ ( ((utilidad.venta * 1) / utilidad.costo) - 1 ) | percent: '0.2' }}</td>

            </tr>

            <tr>

              <th>TOTAL</th>

              <th class="text-center">{{ venta | currency }}</th>

              <th class="text-center">{{ costo | currency }}</th>

              <th class="text-center">{{ utilidad | currency }}</th>

              <th class="text-center">{{ ( ((venta * 1) / costo) - 1 ) | percent: '0.2' }}</th>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>
  
</div>