<div class="row">

    <div class="container-fluid">

        <div>

            <app-morosidad-bitacora></app-morosidad-bitacora>

        </div>

        <div>

            <div class="alert alert-warning" *ngIf="esperar">

                Obteniendo Comentarios del día

            </div>

        </div>

        <div class="table-responsive">

            <div class="card">

                <ul class="nav nav-tabs profile-tab" role="tablist">

                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" id="principal" href="#home" role="tab">Timeline</a> </li>

                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#cambiar" role="tab">Cambiar fecha</a> </li>

                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#buscar" role="tab">Buscar</a> </li>

                    <li class="nav-item"> <a class="nav-comentario">Comentarios del Día {{ fecha | date }}</a> </li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="home" role="tabpanel">

                        <div class="card-body" *ngIf="busquedaComentarios">

                            <div class="alert alert-danger">

                                No hay registros de comentarios y/o notas.

                            </div>

                        </div>

                        <div class="card-body" *ngIf="respuestaGeneral">

                            <div class="profiletimeline">

                                <div class="sl-item" *ngFor="let com of comentarios">

                                    <div class="sl-left"> <img [src]="com.usuario.img | imagen" alt="user" class="img-circle"> </div>

                                    <div class="sl-right">

                                        <div>

                                            <a href="#" class="link">{{ com.usuario.nombre }}</a> <span class="sl-date">{{ com.hora }}</span>

                                            <p class="sl-date">{{ com.rango }}</p>

                                            <p class="sl-date"># {{ com.numero }} {{ com.nombre }}</p>

                                            <p>{{ com.comentario }}</p>

                                            <div class="like-comm">

                                                <a href="#modalFolio" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" (click)="openModal(com)">

                                                    <i class="mdi mdi-comment-text-outline"></i> Ver Mensajes

                                                </a>

                                            </div>

                                        </div>

                                    </div>

                                    <hr>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="tab-pane" id="cambiar" role="tabpanel">

                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-12 col-xs-12 b-r"> <strong>Ver Comentarios</strong>

                                    <br>

                                    <p class="text-muted">Seleccione la fecha que desea ver los comentarios de ese momento.</p>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-2 text-center p-1" *ngFor="let dia of dias">

                                    <span class="enlace" (click)="cambiarComentarios(dia)">{{ dia }}</span>

                                </div>

                            </div>

                            <hr>

                        </div>

                    </div>

                    <div class="tab-pane" id="buscar" role="tabpanel">

                        <div class="card-body">

                            <form>

                                <div class="form-group">

                                    <input #input (keyup.enter)="buscar(input.value)" type="text" name="buscar" id="buscar" class="form-control" placeholder="Buscar Cliente">

                                </div>

                            </form>

                            <div class="alert alert-info" *ngIf="buscarBol">

                                Buscando cliente.

                            </div>

                            <div class="alert alert-danger" *ngIf="sinsaldo">

                                No hay datos de este cliente.

                            </div>

                            <div class="profiletimeline">

                                <div class="sl-item" *ngFor="let com of busqueda">

                                    <div class="sl-left"> <img src="assets/images/logo-icon.png" alt="user" class="img-circle"> </div>

                                    <div class="sl-right">

                                        <div>

                                            <a href="#" class="link">{{ com.nombre }}</a> <span class="sl-date">{{ com.numero }}</span>

                                            <p class="sl-date">{{ com.asesor }}</p>

                                            <p>{{ com.td }}</p>

                                            <div class="like-comm">

                                                <a href="#modalFolio" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" (click)="openModal(com, 'busqueda')">

                                                    <i class="mdi mdi-comment-text-outline"></i> Ver Mensajes

                                                </a>

                                            </div>

                                        </div>

                                    </div>

                                    <hr>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div id="modalFolio" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalFolio" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

            <div class="modal-header">

                <h5 class="p-b-10 p-t-10">Historial del Cliente <b># {{ numero }} {{ nombre }}</b></h5>

                <h5 class="p-b-10 p-t-10 text-danger font-weight-bold">Saldo <b>{{ saldo | currency }}</b></h5>

                <!--<button class="btn btn-success" type="button" (click)="descargar(actual)"><i class="mdi mdi-file-excel"></i>Descargar</button>-->

                <button type="button" class="close" data-dismiss="modal" id="cerrarModalBusq" aria-label="Close">
        
                    <span aria-hidden="true">&times;</span>
        
                </button>

            </div>

            <div class="modal-body">

                <div class="card" style="width: 100%;">

                    <div class="card-body">

                        <button type="button" class="btn btn-outline-info" (click)="irInfo(data)" *ngIf="rol === 'DIR_ROLE' || data.numero !== 1 && data.numero !== 80 && data.numero !== 1046 && data.numero !== 1739 && data.numero !== 1789 && data.numero !== 2980 && data.numero !== 3611 && data.numero !== 4043 && data.numero !== 4287 && data.numero !== 4365 && data.numero !== 4429 && data.numero !== 4585 && data.numero !== 4636">

                            <i class="mdi mdi-barcode-scan"></i>
    
                        </button>

                        <h4 class="card-title" *ngIf="charlaBol">Comentarios Recientes</h4>

                        <h4 class="card-title" *ngIf="!charlaBol">No hay Comentarios</h4>

                        <div class="chat-box" *ngIf="charlaBol">

                            <!--chat Row -->
                            <ul class="chat-list" style="overflow-y: scroll; height: 400px;">

                                <!--chat Row -->
                                <li *ngFor="let c of charla; let i = index" [ngClass]="{'reverse': id === c.usuario._id, '': id !== c.usuario._id}">

                                    <div class="chat-img" *ngIf="id !== c.usuario._id"><img [src]="c.usuario.img | imagen"></div>

                                    <div class="chat-content">

                                        <h5>{{ c.usuario.nombre }}</h5>

                                        <div class="box" [ngClass]="{'bg-light-inverse': id === c.usuario._id, 'bg-light-info': id !== c.usuario._id}">{{ c.comentario }}</div>

                                    </div>

                                    <div class="chat-time">{{ c.hora }} <br> {{ c.fecha | date }}</div>

                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="card-body b-t">

                        <form #f="ngForm">

                            <div class="row">

                                <div class="col-8">

                                    <textarea [(ngModel)]='comentario' name="comentario" [value]="comentario" placeholder="Coloca un mensaje a este folio" class="form-control b-0"></textarea>

                                </div>

                                <div class="col-4 text-right">

                                    <button type="button" class="btn btn-info btn-circle btn-lg" (click)="enviarComentario(f, id)"><i class="fa fa-paper-plane-o"></i> </button>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>