<div class="row">

    <div class="container-fluid">

        <div>

            <app-morosidad-bitacora></app-morosidad-bitacora>

        </div>

        <div class="alert alert-warning" *ngIf="esperar">

            Obteniendo Pagos no aplicados

        </div>

        <div class="alert alert-success" *ngIf="ventas">

            No hay registros de comentarios y/o notas.

        </div>

        <div class="table-responsive" *ngIf="respuestaGeneral">

            <h2 class="text-center">Cuentas Vencidas Actualmente</h2>

            <table class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">

                <thead>

                    <tr role="row">

                        <th class="text-center">Número</th>

                        <th class="text-center">Nombre</th>

                        <th class="text-center">Factura</th>

                        <th class="text-center">Vence</th>

                        <th class="text-center">Días</th>

                        <th class="text-center">Vencido</th>

                        <th class="text-center">Saldo</th>

                        <th class="text-center">Asesor</th>

                    </tr>

                </thead>

                <tbody>

                    <tr role="row" class="odd" *ngFor="let ven of vencidoActual">

                        <td class="text-center">

                            {{ ven.NUMERO }}

                        </td>

                        <td class="text-left">{{ ven.NOMBRE }}</td>

                        <td class="text-center">{{ ven.FOLIO | number }}</td>

                        <td class="text-center">{{ ven.VENCE | date }}</td>

                        <td class="text-center">{{ ven.DIACREDITO | number }}</td>

                        <td class="text-center">{{ ven.VENCIDO | number }}</td>

                        <td class="text-right">{{ ven.SALDO | currency }}</td>

                        <td class="text-left">

                            {{ ven.ASESOR }}

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>