<div class="row">

    <div class="container-fluid">

        <div>

            <app-morosidad-bitacora></app-morosidad-bitacora>

        </div>

        <div class="alert alert-warning" *ngIf="esperar">

            Obteniendo Comentarios del día

        </div>

        <div class="alert alert-success" *ngIf="ventas">

            No hay registros de comentarios y/o notas.

        </div>

        <div class="table-responsive" *ngIf="respuestaGeneral">

            <h2 class="text-center">Comentarios Actuales</h2>

            <table class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">

                <thead>

                    <tr role="row">

                        <th class="text-center">Hora</th>

                        <th class="text-center"></th>

                        <th class="text-left">Responsable</th>

                        <th class="text-center">Número</th>

                        <th class="text-left">Nombre</th>

                        <th class="text-left">Comentario</th>

                    </tr>

                </thead>

                <tbody>

                    <tr role="row" class="odd" *ngFor="let com of comentarios">

                        <td class="text-center">

                            {{ com.hora }}

                        </td>

                        <td class="text-center">

                            <img [src]="com.usuario.img | imagen" width="40" class="img-fluid rounded-circle" />

                        </td>

                        <td class="text-left">

                            {{ com.usuario.nombre }}

                        </td>

                        <td class="text-center">

                            {{ com.numero }}

                        </td>

                        <td class="text-left">

                            {{ com.nombre }}

                        </td>

                        <td class="text-left">

                            {{ com.comentario }}

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>