<!-- <div class="row animated fadeIn">

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <input #input (keyup)="buscarUsuario( input.value )" type="text" class="form-control" placeholder="Buscar usuario...">

                <h6 class="text-muted">Para buscar roles Dirección: DIR_ | Gerencia: GER_ | Asesor: ASE_ | Supervisor: SUP_ </h6>

            </div>

        </div>

    </div>

</div> -->

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">

            <strong>Cargando</strong>

            <br>

            <i class="fa fa-refresh fa-spin fa-2x"></i>

            <br>

            <span>Espere por favor</span>

        </div>

    </div>

</div>

<div class="row animated fadeIn" *ngIf="!cargando">

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <div class="d-flex justify-content-between mb-3">

                    <div class="p-2 bd-highlight">

                        <h3 class="card-title">Chóferes Registrados (<small>{{ totalResgitro }}</small>)</h3>

                    </div>

                    <div class="p-2 bd-highlight">

                        <button (click)="nuevoChofer()" class="btn btn-info">

                            <i class="fa fa-plus"></i>

                        </button>

                    </div>

                </div>

                <form ngNativeValidate #f="ngForm" *ngIf="nuevo" class="mb-3">

                    <h3>Agregar Chófer</h3>

                    <div class="form-row align-items-center">

                        <div class="col-auto">

                            <label class="sr-only" for="nombre">Nombre</label>

                            <input ngModel type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required>

                        </div>

                        <div class="col-auto">

                            <label class="sr-only" for="zona">Zona</label>

                            <input ngModel type="text" id="zona" name="zona" class="form-control" placeholder="Zona" required>

                        </div>

                        <div class="col-auto">

                            <label class="sr-only" for="imei">IMEI</label>

                            <input ngModel type="text" id="imei" name="imei" class="form-control" placeholder="Imei" required>

                        </div>

                        <div class="col-auto">

                            <button class="btn btn-success mb-2" type="button" (click)="agregar(f)">Agregar</button>

                            <button class="btn btn-danger mb-2" type="button" (click)="cancelar()">Cancelar</button>

                        </div>

                    </div>


                </form>

                <div class="table-responsive">

                    <table class="table table-hover">

                        <thead>

                            <tr>

                                <th>Imagen</th>

                                <th>Nombre</th>

                                <th>Zona</th>

                                <th>IMEI</th>

                                <th class="text-center">Auth</th>

                                <th></th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let chofer of choferes">

                                <td class=w70>

                                    <img (click)="mostraModal( chofer._id )" [src]="chofer.img | imagen: 'chofer'" class="img-50 img-circle pointer">

                                </td>

                                <td>{{ chofer.nombre }}</td>

                                <td width="10%">

                                    <input type="text" name="zona" [(ngModel)]="chofer.zona" class="form-control">

                                </td>

                                <td width="25%">

                                    <input type="text" name="imei" [(ngModel)]="chofer.imei" class="form-control text-center">

                                </td>

                                <td width="10%">

                                    <select [(ngModel)]="chofer.activo" name="activo" class="form-control">

                                        <option value="YES">Si</option>

                                        <option value="NOT">No</option>

                                    </select>

                                </td>

                                <td class="text-center">

                                    <button (click)="actualizarUsuario( chofer )" class="btn btn-primary">

                                        <i class="fa fa-save"></i>

                                    </button>

                                    <button (click)="borrarChofer( chofer )" class="btn btn-danger">

                                        <i class="fa fa-trash-o"></i>

                                    </button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">

                  Anteriores

                </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary">

                  Siguientes

                </button>

            </div>

        </div>

    </div>

</div>