<div class="row">

  <div class="col-md-2 col-lg-2">

    <div class="form-group">

      <input #numero type="text" name="numero" id="numero" class="form-control" placeholder="Cliente: Ejm. 3804">

    </div>

    <button type="button" class="btn btn-info" (click)="buscarEntregas()">Buscar</button>

    <button type="button" class="btn btn-secondary" (click)="limpiar()">Limpiar</button>

  </div>

  <div class="col-md-10 col-lg-10">

    <h3 *ngIf="entregas.length === 0">Buscar entregas</h3>

    <div class="table-responsive" *ngIf="entregas.length > 0">

        <table class="table table-sm">

            <thead>

                <tr>

                    <th colspan="2"></th>

                    <th colspan="2" class="text-center border border-bottom-0">Fecha</th>

                    <th colspan="6"></th>
                </tr>

                <tr>

                    <th class="text-center">#</th>

                    <th>Realizó</th>

                    <th class="text-center border border-bottom-0 border-top-0 border-right-0">FecCre</th>

                    <th class="text-center border border-bottom-0 border-top-0 border-left-0">FecAsig</th>

                    <th class="text-center">Hora</th>

                    <th>Chofer</th>

                    <th>Verificó</th>

                    <!-- <th class="text-center">Ver</th> -->

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let fol of entregas, let i = index" [ngClass]="{'bg-info text-white': i === 0}">

                    <td class="text-center">{{ (i + 1) }}</td>

                    <td class="text-uppercase">{{ fol.usuario !== null ? fol.usuario.nombre : 'Baja' }}</td>

                    <td class="text-center">{{ fol.fecha | date: 'dd-MM-yyyy' }}</td>

                    <td class="text-center">{{ fol.fechaAsig | date: 'dd-MM-yyyy' }}</td>

                    <td class="text-center">{{ fol.hora }}</td>

                    <td class="text-uppercase">{{ fol.chofer !== null ? fol.chofer.nombre : 'Baja' }}</td>

                    <td class="text-uppercase">{{ fol.verifico }}</td>

                    <!-- <td class="text-center">

                        <a href="#modalVer" class="btn" [ngClass]="{'btn-outline-success': i !== 0, 'btn-outline-light': i === 0}" data-dismiss="modal" data-toggle="modal" (click)="modalVer(fol)">Ver</a>

                    </td> -->

                </tr>

            </tbody>

        </table>

    </div>

  </div>

</div>
