/* You can add global styles to this file, and also import other style files */

.navbar-header .navbar-brand span strong {
    font-weight: 700;
}

#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.w70 {
    width: 70px;
}

.img .card-body,
.modal .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-50 {
    width: 50px;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.totales .p-r-0 h1{
    text-align: right;
}

.tablas-modales {
    max-width: 80%!important;
}

.impoPedidosDia {
    padding-left: 200px;
    top: -20px;
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
}

/**
 *
 * ESCRITORIO GRANDE
 *
 */

/* @media(min-width: 1200px){ */
@media(max-width: 1366px) and (min-width: 1200px){

	.soc-header{
        font-size: 34px!important;
    }

    .soc-content h3.font-medium{
        font-size: 20px!important;
    }

    .tablas-modales {
        max-width: 90%!important;
    }

    h2.font-light, h3.font-light{
        font-size: 1em;
    }

    h3.card-title{
        font-size: .7em;
    }

    .totales h3.font-light {
        font-size: .8em;
    }

    .totales h6.text-muted {
        font-size: .7em;
    }

    .totales h4.font-light {
        font-size: .6em;
    }

    span.text-black, span.text-white {
        font-size: .8em;
    }

    .p-l-20 h3.text-black {
        font-size: 1em;
    }

}

/**
 *
 * ESCRITORIO MEDIANO O TABLET HORIZONTAL
 *
 */

@media(max-width: 1199px) and (min-width: 992px){

    .servicio{
        height: 300px!important;
    }

    .soc-header{
        font-size: 18px!important;
    }

    .soc-content h3, .soc-content h5{
        font-size: 14px!important;
    }

    .p-r-0{
        padding-left: 0px!important;
    }

    .p-r-0 h1.font-light{
        font-size: 28px!important;
    }

    .p-b-20 font.display-3{
        font-size: 2rem!important;
    }

    .p-r-0 h6, .p-r-0 h5{
        font-size: 12px!important;
    }

    .p-r-0 h5{
        font-weight: 700!important;
    }

    .tablas-modales {
        max-width: 90%!important;
        font-size: 10px;
    }

    h2.font-light, h3.font-light{
        font-size: 1em;
    }

    h3.card-title{
        font-size: .7em;
    }

    .card.servicio {
        height: 93%!important;
    }

    .card.p-l-20 {
        height: 94.5%!important;
    }

    .totales h6.text-muted {
        font-size: .7em;
    }

    .totales h4.font-light {
        font-size: .9em;
    }

    .p-l-20 h3.text-black {
        font-size: 1em;
    }
	
}

/**
 *
 * ESCRITORIO PEQUEÑO O TABLET VERTICAL
 *
 */

@media(max-width: 991px) and (min-width: 768px){

	.totales{
        height: 820px!important;
        text-align: center!important;
    }

    .totales .b-l{
        border: none;
    }

    .totales .p-r-0 h1{
        text-align: center!important;
    }

    .tablas-modales {
        max-width: 90%!important;
        font-size: 7px;
    }

    .d-flex .b-r {
        border-right: none;
    }

    h4.font-light, .totales h3.font-light{
        font-size: 3em;
        padding: 30px 0;
    }

    .p-l-20 h3.text-black {
        font-size: 2em;
        text-align: center;
    }

    i.mdi.lead, i.wi.lead {
        justify-content: center;
        display: flex;
        font-size: 3em;
    }

    .p-2.display-5 i.mdi {
        font-size: 7rem;
    }

}

/**
 *
 * DISPOSITIVOS MOVILES
 *
 */

@media(max-width: 767px){
	.totales{
        text-align: center!important;
    }

    .totales .p-r-0 h1{
        text-align: center!important;
    }

    .p-b-20 font.display-3{
        font-size: 3.5rem!important;
    }

    .tablas-modales {
        max-width: 95%!important;
    }

    .tablas-modales h3.display-5 {
        font-size: 2.3rem;
    }

    .d-flex .b-r {
        border-right: none;
    }

    .impoPedidosDia {
        padding-left: 40px!important;
    }

    .login-sidebar .login-box {
        width: 100%!important;
        right: unset!important;
    }
}