<div class="row">

    <div class="col">

        <div class="card">

            <div class="card-body">

                <h4 class="card-title">Buscar Cliente</h4>

                <form #f="ngForm">

                    <div class="form-group">

                        <input type="text" [(ngModel)]="numero" class="form-control" name="numero" id="numero" placeholder="Ingrese el número de cliente">

                    </div>

                    <div class="form-group">

                        <select #select [(ngModel)]="tipo" name="tipo" id="tipo" class="form-control" (change)="tipoSel(select.value)">
    
                            <option value="0">Seleccione un tipo...</option>
    
                            <option value="1">Estado de Cuenta</option>
    
                            <option value="2">Movimientos y Saldos</option>
    
                        </select>

                    </div>

                    <div class="form-group" *ngIf="mostrar">

                        <input type="date" [(ngModel)]="inicio" class="form-control" name="inicio" id="inicio" value="0000-00-00">

                    </div>

                    <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" (click)="obtenerCliente( f )" *ngIf="mostrar">Solicitar</button>

                    <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" (click)="obtenerSaldo( f )" *ngIf="!mostrar">Solicitar</button>

                </form>

            </div>

        </div>

    </div>

</div>

<div class="row animated fadeIn" *ngIf="datos.length > 0 && cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">

            <strong>Cargando</strong>

            <br>

            <i class="fa fa-refresh fa-spin fa-2x"></i>

            <br>

            <span>Espere por favor</span>

        </div>

    </div>

</div>

<div class="row" *ngIf="localizado">

    <div class="col-12" id="edoCta" #edoCta>

        <div class="card">

            <div class="card-body">

                <div class="table-responsive">

                    <table style="width:100%;">

                        <tbody>

                            <tr>

                                <td style="width: 40%!important">
                                    
                                    <img src="https://ferremayoristas.com.mx/intranet/assets/images/logo-min.png" class="img-fluid">
                                
                                </td>

                                <td style="width: 5%!important"></td>

                                <td style="width: 5%!important"></td>

                                <td style="width: 5%!important"></td>

                                <td style="width: 5%!important"></td>

                                <td style="width: 40%!important">

                                    <div class="col-12">

                                        <h6 class="text-right font-weight-bold ml-2" style="font-size: 14px">Grupo Ferremayoristas del Bajío S.A. de C.V.</h6>
    
                                        <h6 class="text-right font-weight-bold ml-2" style="font-size: 14px">RFC: GFB 191105 SS3</h6>
    
                                        <h6 class="text-right font-weight-bold ml-2" style="font-size: 14px">Prolongación Constituyentes No. 1095 Int. 2</h6>
    
                                        <h6 class="text-right font-weight-bold ml-2" style="font-size: 14px">Col. El Pocito, C.P. 76902. Corregidora, Qro.</h6>
    
                                        <h6 class="text-right font-weight-bold ml-2" style="font-size: 14px">ventas@ferremayoristas.com.mx</h6>
    
                                        <h6 class="text-right font-weight-bold ml-2" style="font-size: 14px">442 196 85555 / 442 196 6846</h6>

                                    </div>

                                </td>

                            </tr>

                            <tr>

                                <td colspan="6">

                                    <h3 class="text-black font-weight-bold">

                                        # {{ number }} {{ nombre }}
                    
                                    </h3>
                    
                                    <h5>
                    
                                        <span class="label label-danger" *ngIf="forcre !== 'C'">Cliente Bloqueado</span>
                    
                                        <span class="label label-success" *ngIf="forcre === 'C'">Cliente Activo</span>
                    
                                    </h5>

                                    <h5 class="text-black font-weight-bold">Línea de Crédito: {{ limite | currency }} Saldo Actual: <span style="color: #f62d51;">{{ saldoAct | currency }}</span> Disponible <span class="font-weight-bold" *ngIf="(limite - saldoAct) < 0">Negativo</span><span class="font-weight-bold" *ngIf="(limite - saldoAct) > 0">Positivo</span>: <span class="font-weight-bold" [ngClass]="{'text-black': (limite - saldoAct) >= 0, 'text-danger': (limite - saldoAct) < 0}">{{ (limite - saldoAct) | currency }}</span></h5>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                    <table class="table table-hover table-sm">

                        <thead>

                            <tr>

                                <th></th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center"></th>

                                <th class="text-center">Por</th>

                                <th class="text-center"></th>

                                <th class="text-center">Importe</th>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Días de</th>

                                <th class="text-center" colspan="4"></th>

                            </tr>

                            <tr>

                                <th class="text-center">Factura</th>
                                
                                <th class="text-center">Factura</th>

                                <th class="text-center">Vencimiento</th>

                                <th class="text-center" style="width: 5%!important">Vencer</th>

                                <th class="text-center">Vencido</th>
                                
                                <th class="text-center" style="width: 5%!important">Factura</th>

                                <th class="text-center" style="width: 5%!important">Abonos</th>

                                <th class="text-center" style="width: 5%!important">Atrazo</th>

                                <th class="text-center">Abonos</th>

                                <th class="text-center">Saldo</th>

                                <th class="text-center">Recibo</th>

                                <th class="text-center">Tipo</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let dato of datos">

                                <td class="text-center" style="font-weight: 700;">{{ dato.FOLIO }}</td>
                                
                                <td class="text-center" style="font-weight: 500;">{{ dato.FECHA | date: 'dd-MM-yy' }}</td>

                                <td class="text-center" style="font-weight: 500;">{{ dato.VENCE | date: 'dd-MM-yy' }}</td>

                                <td class="text-center" style="font-weight: 500;" *ngIf="dato.RESTAN >= 0">{{ dato.RESTAN }}</td>

                                <td class="text-center" style="font-weight: 500;" *ngIf="dato.RESTAN < 0">0</td>

                                <td class="text-center" style="font-weight: 500;" *ngIf="dato.RESTAN < 0">{{ dato.RESTAN }}</td>

                                <td class="text-center" style="font-weight: 500;" *ngIf="dato.RESTAN >= 0">0</td>
                                
                                <td class="text-center font-weight-bold" style="color: #f62d51;">{{ dato.CARGO | currency }}</td>

                                <td class="text-center" style="font-weight: 500;">{{ dato.FECHAPAG | date: 'dd-MM-yy' }}</td>

                                <td class="text-center" style="font-weight: 500;" [ngClass]="{'text-danger': dato.DIASPAGO > 0, 'text-success': dato.DIASPAGO <= 0}">{{ dato.DIASPAGO }}</td>

                                <td class="text-center" style="color: #06d79c; font-weight: 700;" *ngIf="dato.ABONO > 0 || dato.ABONO < 0">{{ dato.ABONO | currency }}</td>

                                <td class="text-center" style="color: #06d79c; font-weight: 700;" *ngIf="dato.ABONO === 0"></td>

                                <td class="text-center" style="color: #f62d51; font-weight: 700;">{{ dato.SALDO | currency }}</td>

                                <!-- <td class="text-center" style="color: #f62d51; font-weight: 700;" *ngIf="dato.SALDOFINAL > 0">{{ dato.SALDOFINAL | currency }}</td> -->

                                <td class="text-center font-weight-bold" *ngIf="dato.RECIBO != 0">{{ dato.RECIBO }}</td>

                                <td class="text-center font-weight-bold" *ngIf="dato.RECIBO == 0">{{ dato.NOTA }}</td>

                                <td class="text-center">

                                    <span class="label label-inverse" *ngIf="dato.TIPO.length > 0">{{ dato.FP }}</span>

                                    <span *ngIf="dato.TIPO.length === 0"></span>

                                </td>

                            </tr>

                            <tr style="background: #f4f6f9; font-weight: 700;">

                                <th colspan="5" class="text-right font-weight-bold">Totales del Edo. Cta.</th>

                                <th class="text-center font-weight-bold">{{ cargos | currency }}</th>

                                <th></th>

                                <th class="text-center font-weight-bold">{{ abonos | currency }}</th>

                                <th class="text-center font-weight-bold" *ngIf="mostrar">{{ saldos | currency }}</th>

                                <th class="text-center font-weight-bold" *ngIf="!mostrar"></th>

                                <th colspan="3" class="text-center font-weight-bold"></th>

                            </tr>

                            <tr style="background: #f4f6f9; font-weight: 700;">
                            
                                <th colspan="9" class="text-right font-weight-bold">Saldo Actual</th>

                                <th class="text-center font-weight-bold" style="color: #f62d51; font-weight: 700;">{{ saldoAct | currency }}</th>

                                <th colspan="6"></th>
                            
                            </tr>

                        </tbody>

                    </table>

                </div>

                <button type="button" class="btn btn-info btn-block waves-effect waves-light m-r-10" (click)="exportarPDF(datos, clienteFerrum, nomAsesor, telAsesor, cargos, abonos, saldoAct)"><i class="mdi mdi-file-pdf"></i> Crear PDF</button>

                <button type="button" class="btn btn-danger btn-block waves-effect waves-light m-r-10" (click)="enviarEmail(clienteFerrum, nomAsesor, telAsesor)">Enviar Email</button>

            </div>

        </div>

    </div>

    <div class="col-12" *ngIf="verPDF !== ''">

        <embed [src]="verPDF" type="application/pdf" width="100%" height="600">

        <button type="button" class="btn btn-danger btn-block waves-effect waves-light m-r-10" (click)="enviarEmail(clienteFerrum, nomAsesor, telAsesor)">Enviar Email</button>

    </div>

</div>