<div class="row">

    <div class="col">

        <div class="card">

            <div class="card-body">

                <h4 class="card-title">Movimientos del Folio: {{ folio }}</h4>

                <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" id="buscarMov" (click)="obtenerFolio( folio )">Solicitar</button>

            </div>

        </div>

    </div>

</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">

            <strong>Cargando</strong>

            <br>

            <i class="fa fa-refresh fa-spin fa-2x"></i>

            <br>

            <span>Espere por favor</span>

        </div>

    </div>

</div>

<div class="row" *ngIf="fol === folio">

    <div class="col">

        <div class="card">

            <div class="card-body">

                <h4 class="card-title">

                    Movimientos de #{{ num }} {{ nombre }}

                </h4>


                <div class="table-responsive">

                    <table class="table table-hover">

                        <thead>

                            <tr>

                                <th class="text-center">Fecha</th>

                                <th class="text-center">Cargo</th>

                                <th class="text-center">Abono</th>

                                <th class="text-center">Recibo</th>

                                <th class="text-center">Tipo Pago</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let fol of folios">

                                <td class="text-center">{{ fol.FECHAAPLICADA | date: 'dd-MM-yyyy' }}</td>

                                <td class="text-center" style="color: #f62d51; font-weight: 700;">{{ fol.CARGO | currency }}</td>

                                <td class="text-center" style="color: #06d79c; font-weight: 700;">{{ fol.ABONO | currency }}</td>

                                <td class="text-center" *ngIf="fol.RECIBO != 0">{{ fol.RECIBO }}</td>

                                <td class="text-center" *ngIf="fol.RECIBO == 0">{{ fol.PAGREF }}</td>

                                <td class="text-center" *ngIf="fol.FP == 'C'">

                                    <span class="label label-info">{{ fol.FORMAPAGO }}</span>

                                </td>

                                <td class="text-center" *ngIf="fol.FP == 'R'">

                                    <span class="label label-primary">{{ fol.FORMAPAGO }}</span>

                                </td>

                                <td class="text-center" *ngIf="fol.FP == 'E'">

                                    <span class="label label-danger">{{ fol.FORMAPAGO }}</span>

                                </td>

                                <td class="text-center" *ngIf="fol.FP == 'T'">

                                    <span class="label label-dark">{{ fol.FORMAPAGO }}</span>

                                </td>

                                <td class="text-center" *ngIf="fol.FP == 'S'">

                                    <span class="label label-dark" style="background: orange!important">{{ fol.FORMAPAGO }}</span>

                                </td>

                                <td *ngIf="fol.FP == ''"></td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>